Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

spotless-check:
  name: Spotless Format Check
  entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
  language: system
  pass_filenames: false

checkstyle:
  name: Checkstyle
  entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
  language: system
  pass_filenames: false

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

chore: fix frontend-test recipe to use vitest via bun run test
  justfile
Due: none

docs: mark 2c (manual timetable editing) complete
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs(spec): data import/export (2e) design
  docs/superpowers/specs/2026-04-08-data-import-export-design.md
Due: none

docs(plan): data import/export (2e) implementation plan
  docs/superpowers/plans/2026-04-08-data-import-export.md
  docs/superpowers/specs/2026-04-08-data-import-export-design.md
Due: none

feat(backend): add csv crate for import/export
  Cargo.lock
  backend/Cargo.toml
Due: none

feat(backend): scaffold import_export service module
  backend/src/services/import_export/mod.rs
  backend/src/services/mod.rs
Due: none

feat(backend): preview token cache for import/export
  backend/src/services/import_export/mod.rs
  backend/src/services/import_export/token_cache.rs
Due: none

feat(backend): expose PreviewTokenCache in app context
  backend/src/app.rs
Due: none

feat(backend): csv parsing helpers for import/export
  backend/src/services/import_export/csv_io.rs
  backend/src/services/import_export/mod.rs
Due: none

feat(backend): preview/diff response types for import/export
  backend/src/services/import_export/mod.rs
Due: none

feat(backend): teachers CSV importer (parse, diff, commit, export)
  backend/src/services/import_export/mod.rs
  backend/src/services/import_export/teachers.rs
Due: none

feat(backend): subjects CSV importer
  backend/src/services/import_export/mod.rs
  backend/src/services/import_export/subjects.rs
Due: none

feat(backend): rooms CSV importer
  backend/src/services/import_export/rooms.rs
Due: none

feat(backend): classes CSV importer with class_teacher FK
  backend/src/services/import_export/classes.rs
Due: none

feat(backend): timeslots CSV importer
  backend/src/services/import_export/timeslots.rs
Due: none

feat(backend): curriculum CSV importer with term scope and multi-FK
  backend/src/services/import_export/curriculum.rs
Due: none

feat(backend): import/export controller with preview and commit
  backend/src/app.rs
  backend/src/controllers/import_export.rs
  backend/src/controllers/mod.rs
Due: none

test(backend): import/export round-trip happy path for teachers
  Cargo.lock
  backend/Cargo.toml
  backend/src/controllers/import_export.rs
  backend/tests/requests/import_export.rs
  backend/tests/requests/mod.rs
Due: none

test(backend): import/export error paths and tenant isolation
  backend/tests/requests/import_export.rs
Due: none

test(backend): import/export round-trip for all 6 entities
  backend/tests/requests/import_export.rs
Due: none

i18n: add importExport namespace and timetable.print
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check

feat(frontend): import/export typed client
  frontend/src/lib/api-client.ts
  frontend/src/lib/import-export.ts
Due: biome-check, frontend-typecheck

feat(frontend): ImportPreviewDialog component
  frontend/src/components/import-preview-dialog.test.tsx
  frontend/src/components/import-preview-dialog.tsx
Due: biome-check, frontend-typecheck

feat(frontend): import/export settings tab
  frontend/src/app/[locale]/schools/[id]/settings/components/import-export-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/page.tsx
Due: biome-check, frontend-typecheck

feat(frontend): print-to-PDF for timetable view
  frontend/src/app/[locale]/schools/[id]/timetable/page.tsx
  frontend/src/app/[locale]/schools/[id]/timetable/printable.test.tsx
  frontend/src/app/globals.css
Due: biome-check, frontend-typecheck

docs: mark 2e (data import/export) complete
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: add responsive/mobile layout design spec (2f)
  docs/superpowers/specs/2026-04-08-responsive-mobile-design.md
Due: none

docs: add responsive/mobile layout implementation plan (2f)
  docs/superpowers/plans/2026-04-08-responsive-mobile.md
Due: none

feat(frontend): TimetableGrid visibleDays prop for single-day mobile view
  frontend/src/__tests__/timetable-grid-visible-days.test.tsx
  frontend/src/components/timetable/timetable-grid.tsx
Due: biome-check, frontend-typecheck

feat(frontend): persist mobile day in view-mode storage
  frontend/src/components/timetable/view-mode-selector.tsx
Due: biome-check, frontend-typecheck

feat(frontend): single-day mobile view and reflowed header for timetable page
  frontend/src/__tests__/setup.ts
  frontend/src/app/[locale]/schools/[id]/timetable/page.tsx
Due: biome-check, frontend-typecheck

refactor(frontend): lazy useState initializer for mobileDay
  frontend/src/app/[locale]/schools/[id]/timetable/page.tsx
Due: biome-check, frontend-typecheck

feat(frontend): mobile header bar with sidebar trigger
  frontend/src/__tests__/mobile-header.test.tsx
  frontend/src/app/[locale]/schools/[id]/layout.tsx
  frontend/src/components/layout/mobile-header.tsx
Due: biome-check, frontend-typecheck

feat(frontend): mobile-friendly settings tab strip and padding
  frontend/src/app/[locale]/schools/[id]/settings/page.tsx
Due: biome-check, frontend-typecheck

feat(frontend): mobile card list for rooms tab
  frontend/src/app/[locale]/schools/[id]/settings/components/rooms-tab.tsx
Due: biome-check, frontend-typecheck

fix(frontend): don't overwrite desktop tr ref with mobile card in rooms tab
  frontend/src/app/[locale]/schools/[id]/settings/components/rooms-tab.tsx
Due: biome-check, frontend-typecheck

feat(frontend): mobile card list for teachers tab
  frontend/src/app/[locale]/schools/[id]/settings/components/teachers-tab.tsx
Due: biome-check, frontend-typecheck

feat(frontend): mobile card list for subjects tab
  frontend/src/app/[locale]/schools/[id]/settings/components/subjects-tab.tsx
Due: biome-check, frontend-typecheck

feat(frontend): mobile card list for classes tab
  frontend/src/app/[locale]/schools/[id]/settings/components/classes-tab.tsx
Due: biome-check, frontend-typecheck

feat(frontend): mobile card list for terms tab
  frontend/src/app/[locale]/schools/[id]/settings/components/terms-tab.tsx
Due: biome-check, frontend-typecheck

Path conditions:
  spotless-check: any of: \.java$
  checkstyle: any of: \.java$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
