Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Format Check
        entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      # Frontend hooks
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript type check
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

feat(frontend): add schedule generation page with timetable preview
  frontend/src/app/[locale]/schools/[id]/schedule/page.tsx
Due: biome-check, frontend-typecheck

Add scheduler integration with greedy solver, curriculum CRUD, and generation UI (#25)
  Cargo.lock
  backend/Cargo.toml
  backend/migration/src/lib.rs
  backend/migration/src/m20250403_000003_curriculum_entries.rs
  backend/src/app.rs
  backend/src/controllers/curriculum.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/scheduler.rs
  backend/src/lib.rs
  backend/src/models/_entities/curriculum_entries.rs
  backend/src/models/_entities/mod.rs
  backend/src/models/_entities/prelude.rs
  backend/src/models/curriculum_entries.rs
  backend/src/models/mod.rs
  backend/src/services/mod.rs
  backend/src/services/scheduler.rs
  backend/src/workers/mod.rs
  backend/src/workers/scheduler.rs
  docs/superpowers/plans/2026-04-03-scheduler-integration.md
  docs/superpowers/specs/2026-04-03-scheduler-integration-design.md
  frontend/src/app/[locale]/schools/[id]/curriculum/page.tsx
  frontend/src/app/[locale]/schools/[id]/layout.tsx
  frontend/src/app/[locale]/schools/[id]/schedule/page.tsx
  frontend/src/lib/types.ts
  frontend/src/messages/de.json
  frontend/src/messages/en.json
  scheduler/src/lib.rs
  scheduler/src/types.rs
  scheduler/tests/basic.rs
Due: biome-check, frontend-typecheck

docs: mark scheduler integration as complete, update next steps
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: mark scheduler integration as complete, update next steps (#26)
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: add deployment pipeline setup to tech debt
  docs/superpowers/next-steps.md
Due: none

docs: add manual TODO for runner service install (needs sudo)
  docs/superpowers/TODO-manual.md
  docs/superpowers/next-steps.md
Due: none

feat: add reference data list endpoints for all domain entities
  backend/src/app.rs
  backend/src/controllers/classes.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/rooms.rs
  backend/src/controllers/subjects.rs
  backend/src/controllers/teachers.rs
  backend/src/controllers/terms.rs
  backend/src/controllers/time_slots.rs
  docs/STATUS.md
  docs/superpowers/next-steps.md
  docs/superpowers/specs/2026-04-03-reference-data-endpoints-design.md
Due: none

feat: add reference data list endpoints (#28)
  backend/src/app.rs
  backend/src/controllers/classes.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/rooms.rs
  backend/src/controllers/subjects.rs
  backend/src/controllers/teachers.rs
  backend/src/controllers/terms.rs
  backend/src/controllers/time_slots.rs
  docs/STATUS.md
  docs/superpowers/next-steps.md
  docs/superpowers/specs/2026-04-03-reference-data-endpoints-design.md
Due: none

docs: add reference data CRUD spec and frontend management UI backlog item
  docs/superpowers/next-steps.md
  docs/superpowers/specs/2026-04-03-reference-data-crud-design.md
Due: none

docs: add reference data CRUD implementation plan
  docs/superpowers/plans/2026-04-03-reference-data-crud.md
  docs/superpowers/specs/2026-04-03-reference-data-crud-design.md
Due: none

feat: add subjects CRUD endpoints with hard delete
  backend/src/controllers/subjects.rs
  backend/tests/requests/mod.rs
  backend/tests/requests/subjects.rs
Due: none

feat: add teachers CRUD endpoints with soft delete
  backend/src/controllers/teachers.rs
  backend/tests/requests/mod.rs
  backend/tests/requests/teachers.rs
Due: none

feat: add rooms CRUD endpoints with soft delete
  backend/src/controllers/rooms.rs
  backend/tests/requests/mod.rs
  backend/tests/requests/rooms.rs
Due: none

feat: add classes CRUD endpoints with soft delete and teacher FK validation
  backend/src/controllers/classes.rs
  backend/tests/requests/classes.rs
  backend/tests/requests/mod.rs
Due: none

feat: add timeslots CRUD endpoints with hard delete
  backend/src/controllers/time_slots.rs
  backend/tests/requests/mod.rs
  backend/tests/requests/time_slots.rs
Due: none

feat: add terms CRUD endpoints with hard delete and school_year FK validation
  backend/src/controllers/terms.rs
  backend/tests/requests/mod.rs
  backend/tests/requests/terms.rs
Due: none

feat: add reference data CRUD endpoints (#29)
  backend/src/controllers/classes.rs
  backend/src/controllers/rooms.rs
  backend/src/controllers/subjects.rs
  backend/src/controllers/teachers.rs
  backend/src/controllers/terms.rs
  backend/src/controllers/time_slots.rs
  backend/tests/requests/classes.rs
  backend/tests/requests/mod.rs
  backend/tests/requests/rooms.rs
  backend/tests/requests/subjects.rs
  backend/tests/requests/teachers.rs
  backend/tests/requests/terms.rs
  backend/tests/requests/time_slots.rs
  docs/superpowers/next-steps.md
  docs/superpowers/plans/2026-04-03-reference-data-crud.md
  docs/superpowers/specs/2026-04-03-reference-data-crud-design.md
Due: none

docs: mark reference data CRUD as complete, update next steps
  docs/superpowers/next-steps.md
Due: none

docs: mark reference data CRUD as complete, update next steps (#30)
  docs/superpowers/next-steps.md
Due: none

docs: add reference data management UI spec
  docs/superpowers/specs/2026-04-04-reference-data-ui-design.md
Due: none

docs: add reference data UI implementation plan
  docs/superpowers/plans/2026-04-04-reference-data-ui.md
Due: none

feat: add school years list endpoint
  backend/src/app.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/school_years.rs
Due: none

feat: update frontend types to match backend responses
  frontend/src/lib/types.ts
Due: biome-check, frontend-typecheck

feat: add settings i18n translations (DE/EN)
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check

feat: add settings page shell with tabs and sidebar entry
  frontend/src/app/[locale]/schools/[id]/layout.tsx
  frontend/src/app/[locale]/schools/[id]/settings/page.tsx
Due: biome-check, frontend-typecheck

feat: add settings tab components for all 6 entity types
  frontend/src/app/[locale]/schools/[id]/settings/components/classes-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/rooms-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/subjects-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/teachers-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/terms-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/timeslots-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/page.tsx
Due: biome-check, frontend-typecheck

fix: teachers tab add button i18n
  frontend/src/app/[locale]/schools/[id]/settings/components/teachers-tab.tsx
Due: biome-check, frontend-typecheck

feat: add reference data management UI (#31)
  backend/src/app.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/school_years.rs
  docs/superpowers/plans/2026-04-04-reference-data-ui.md
  docs/superpowers/specs/2026-04-04-reference-data-ui-design.md
  frontend/src/app/[locale]/schools/[id]/layout.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/classes-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/rooms-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/subjects-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/teachers-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/terms-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/timeslots-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/page.tsx
  frontend/src/lib/types.ts
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check, frontend-typecheck

docs: mark reference data UI as complete, update next steps
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: mark reference data UI as complete, update next steps (#32)
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: add dev seed data spec and implementation plan
  docs/superpowers/plans/2026-04-04-dev-seed-data.md
  docs/superpowers/specs/2026-04-04-dev-seed-data-design.md
Due: none

feat: add complete dev seed data for German primary school
  docker/seeds/dev-seed.sql
Due: none

feat: add bootstrap script for Keycloak user provisioning
  docker/seeds/bootstrap.sh
Due: none

feat: add db-seed, db-bootstrap, dev-setup justfile recipes
  docker-compose.yml
  justfile
Due: none

docs: mark dev seed data as complete, update next steps
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

feat: add scheduler API integration tests and test-db-setup recipe
  .claude/CLAUDE.md
  backend/src/controllers/scheduler.rs
  backend/tests/requests/mod.rs
  backend/tests/requests/scheduler.rs
  docs/superpowers/next-steps.md
  justfile
Due: none

feat: add frontend component tests for schedule, curriculum, and settings
  docs/superpowers/next-steps.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/__tests__/curriculum-page.test.tsx
  frontend/src/__tests__/schedule-page.test.tsx
  frontend/src/__tests__/setup.ts
  frontend/src/__tests__/subjects-tab.test.tsx
  frontend/src/__tests__/use-school.test.tsx
  frontend/vitest.config.mts
Due: biome-check, frontend-typecheck

feat: add staging/prod backend configs, remove scaffold leftovers
  backend/.gitignore
  backend/config/production.yaml
  backend/config/staging.yaml
  backend/src/app.rs
  backend/src/lib.rs
  backend/src/tasks/mod.rs
  backend/src/workers/downloader.rs
  backend/src/workers/mod.rs
  backend/tests/mod.rs
  backend/tests/tasks/mod.rs
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

fix: correct backend binary name in Dockerfile
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  backend/Dockerfile
Due: none

docs: update deployment status — staging is live
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none
