Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

spotless-check:
  name: Spotless Format Check
  entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
  language: system
  pass_filenames: false

checkstyle:
  name: Checkstyle
  entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
  language: system
  pass_filenames: false

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat(frontend): Introduce frontend-design skill and enhance localization in tests
  .claude/skills/frontend-design/SKILL.md
  backend/src/test/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandlerTest.java
  e2e/tests/api/classes.api.spec.ts
  e2e/tests/api/rooms.api.spec.ts
  e2e/tests/api/subjects.api.spec.ts
  e2e/tests/api/teachers.api.spec.ts
  e2e/tests/home.spec.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/fonts.d.ts
  frontend/src/i18n/locales/de/nav.json
  frontend/src/i18n/locales/en/nav.json
  frontend/src/main.tsx
  frontend/tailwind.config.js
Due: spotless-check, checkstyle, biome-check, frontend-typecheck

feat(lighthouse): Add Lighthouse CI configuration and accessibility tests
  .github/workflows/lighthouse.yml
  Makefile
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/accessibility.spec.ts
  frontend/src/components/layout/NavItem.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/pages/Home.tsx
  frontend/src/pages/NotFoundPage.tsx
  lighthouserc.json
Due: biome-check, frontend-typecheck

feat(frontend): Implement teacher CRUD pages (F-012)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/i18n/locales/de/common.json
  frontend/src/i18n/locales/de/pages.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/pages.json
  frontend/src/pages/TeacherDetailPage.tsx
  frontend/src/pages/TeachersListPage.tsx
  frontend/src/pages/teachers/components/AvailabilitySection.tsx
  frontend/src/pages/teachers/components/QualificationsSection.tsx
  frontend/src/pages/teachers/components/TeacherForm.tsx
  frontend/src/pages/teachers/components/index.ts
Due: biome-check, frontend-typecheck

refactor(frontend): Update navigation components and styles
  frontend/src/components/layout/MobileSidebar.tsx
  frontend/src/components/layout/NavItem.tsx
  frontend/src/components/layout/TopHeader.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/i18n/locales/de/pages.json
  frontend/src/i18n/locales/en/pages.json
  frontend/src/pages/TeacherDetailPage.tsx
  frontend/src/pages/teachers/components/TeacherForm.test.tsx
  frontend/src/pages/teachers/components/TeacherForm.tsx
Due: biome-check, frontend-typecheck

feat(backend): Integrate Keycloak for authentication and implement user management
  .env.example
  backend/build.gradle.kts
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembership.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolRole.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/AuthorizationService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/CurrentUser.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/CurrentUserAuthentication.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/SecurityConfig.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/UserResolutionFilter.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUser.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/dto/UserProfileResponse.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/migration/V7__create_user_permission_tables.sql
  backend/src/test/java/com/klassenzeit/klassenzeit/AbstractIntegrationTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandlerTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/TestSecurityConfig.java
  backend/src/test/java/com/klassenzeit/klassenzeit/solver/controller/TimetableSolverControllerTest.java
  compose.yml
  docker/postgres/init-keycloak-db.sql
  docs/authentication.md
  docs/data-model.md
  tasks/doing/backend/B-020-authentication-authorization.md
  tasks/roadmap.md
  tasks/todo/backend/B-020-authentication-authorization.md
Due: spotless-check, checkstyle

feat(backend): Implement school membership management with CRUD operations
  backend/src/main/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandler.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/ForbiddenOperationException.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembership.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/dto/CreateMembershipRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/dto/MembershipResponse.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/dto/MembershipSummary.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/dto/UpdateMembershipRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherController.java
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_de.properties
  backend/src/main/resources/messages_en.properties
  backend/src/test/java/com/klassenzeit/klassenzeit/TestDataBuilder.java
  backend/src/test/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipServiceTest.java
  docs/authentication.md
  tasks/doing/backend/B-020-authentication-authorization.md
Due: spotless-check, checkstyle

feat(backend): Secure all API endpoints with @PreAuthorize (B-020 Phase 3)
  .pre-commit-config.yaml
  backend/src/main/java/com/klassenzeit/klassenzeit/lesson/LessonController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/room/RoomController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/SchoolController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/SchoolRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/SchoolService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/SchoolYearController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/TermController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/schoolclass/SchoolClassController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/AuthorizationService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/controller/TimetableSolverController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/subject/SubjectController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherAvailabilityController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherQualificationController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/timeslot/TimeSlotController.java
  backend/src/test/java/com/klassenzeit/klassenzeit/common/CorsIntegrationTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/MockCurrentUserAuthentication.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/TestSecurityConfig.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/WithMockCurrentUser.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/WithMockCurrentUserSecurityContextFactory.java
  backend/src/test/java/com/klassenzeit/klassenzeit/solver/controller/TimetableSolverControllerTest.java
  docs/authentication.md
  tasks/doing/backend/B-020-authentication-authorization.md
Due: spotless-check, checkstyle

feat(pre-commit): Add PMD and SpotBugs hooks for Java code analysis
  .pre-commit-config.yaml
Due: none

feat(backend): Implement platform admin functionality with school admin assignment
  backend/config/spotbugs/exclusions.xml
  backend/src/main/java/com/klassenzeit/klassenzeit/admin/PlatformAdminController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/admin/dto/AssignAdminRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandler.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/AuthorizationService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/CurrentUser.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/CurrentUserAuthentication.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/SecurityConfig.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/UserResolutionFilter.java
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_de.properties
  backend/src/main/resources/messages_en.properties
  backend/src/test/java/com/klassenzeit/klassenzeit/admin/PlatformAdminControllerTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipServiceTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/MockCurrentUserAuthentication.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/TestSecurityConfig.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/WithMockCurrentUserSecurityContextFactory.java
  docs/authentication.md
  tasks/doing/backend/B-020-authentication-authorization.md
Due: spotless-check, checkstyle

fix(backend): Update TimetableSolverService to use event consumers for solution handling
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/service/TimetableSolverService.java
Due: spotless-check, checkstyle

feat(backend): Implement access request management for schools
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/AccessRequestController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/AccessRequestService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/AccessRequestStatus.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/SchoolAccessRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/SchoolAccessRequestRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/dto/AccessRequestResponse.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/dto/AccessRequestSummary.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/dto/CreateAccessRequestRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/dto/ReviewAccessRequestRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/dto/ReviewDecision.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserController.java
  backend/src/test/java/com/klassenzeit/klassenzeit/TestDataBuilder.java
  backend/src/test/java/com/klassenzeit/klassenzeit/accessrequest/AccessRequestControllerTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/accessrequest/AccessRequestServiceTest.java
  docs/authentication.md
  tasks/doing/backend/B-020-authentication-authorization.md
Due: spotless-check, checkstyle

feat(frontend): Integrate Keycloak authentication and access request management
  compose.yml
  docker/keycloak/klassenzeit-realm.json
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/hooks/index.ts
  frontend/src/api/hooks/query-client.ts
  frontend/src/api/hooks/use-access-requests.ts
  frontend/src/api/hooks/use-current-user.ts
  frontend/src/api/services/access-requests.ts
  frontend/src/api/services/users.ts
  frontend/src/auth/AuthContext.tsx
  frontend/src/auth/AuthProvider.tsx
  frontend/src/auth/ProtectedRoute.tsx
  frontend/src/auth/index.ts
  frontend/src/auth/types.ts
  frontend/src/components/layout/NavItem.test.tsx
  frontend/src/components/layout/TopHeader.tsx
  frontend/src/components/school/AccessRequestForm.tsx
  frontend/src/components/school/SchoolSelector.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/contexts/SchoolContext.tsx
  frontend/src/i18n/index.ts
  frontend/src/i18n/locales/de/auth.json
  frontend/src/i18n/locales/en/auth.json
  frontend/src/pages/CallbackPage.tsx
  frontend/src/pages/Home.test.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/TeachersListPage.tsx
  frontend/src/pages/teachers/components/AvailabilitySection.tsx
  frontend/src/pages/teachers/components/QualificationsSection.tsx
  frontend/src/pages/teachers/components/index.ts
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
Due: biome-check, frontend-typecheck

refactor(docker, frontend): Update service management and Keycloak configuration
  CLAUDE.md
  Makefile
  README.md
  docker/keycloak/klassenzeit-realm.json
  frontend/src/api/hooks/use-current-user.ts
  frontend/src/auth/AuthProvider.tsx
  tasks/todo/frontend/F-021-keycloak-custom-theme.md
Due: biome-check, frontend-typecheck

feat(auth): Add Keycloak authentication script and update Lighthouse configuration
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  e2e/.gitignore
  e2e/auth.setup.ts
  e2e/playwright.config.ts
  e2e/tests/home.spec.ts
  lighthouse-auth.cjs
  lighthouserc.json
Due: none

feat(backend): Re-check platform admin status on user login
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserService.java
Due: spotless-check, checkstyle

feat(frontend): Update teacher request types and enhance TeacherForm tests
  frontend/src/api/types/teacher.ts
  frontend/src/pages/teachers/components/TeacherForm.test.tsx
Due: biome-check, frontend-typecheck

feat(ci): Update Keycloak configuration in CI workflows
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
Due: none

feat(auth): Enhance login button interaction in Keycloak authentication script
  lighthouse-auth.cjs
Due: none

feat(api): Add E2E API testing support with Keycloak authentication
  docker/keycloak/klassenzeit-realm.json
  e2e/tests/api/auth.ts
  e2e/tests/api/classes.api.spec.ts
  e2e/tests/api/rooms.api.spec.ts
  e2e/tests/api/schools.api.spec.ts
  e2e/tests/api/subjects.api.spec.ts
  e2e/tests/api/teachers.api.spec.ts
Due: none

refactor(auth): Update login button interaction in Keycloak authentication script
  lighthouse-auth.cjs
Due: none

feat(ci): Add environment variable for platform admin email in CI workflow
  .github/workflows/ci.yml
Due: none

feat(logging): Add end-to-end and Lighthouse logs for CI processes
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserService.java
  e2e-logs.txt
  lighthouse-auth.cjs
  lighthouse-logs.txt
Due: spotless-check, checkstyle

feat(logging): Update logging configuration and clean up log files
  .gitignore
  backend/src/main/resources/application.yaml
  e2e-logs.txt
  lighthouse-auth.cjs
  lighthouse-logs.txt
Due: none

feat(auth): Enhance user authentication and logging mechanisms
  .github/workflows/ci.yml
  .gitignore
  backend/build.gradle.kts
  backend/src/main/java/com/klassenzeit/klassenzeit/security/AuthorizationService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserService.java
  lighthouse-auth.cjs
Due: spotless-check, checkstyle

refactor(user): Simplify user creation logic in AppUserService
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserService.java
Due: spotless-check, checkstyle

feat(schools): Implement CRUD functionality for school management
  frontend/src/App.tsx
  frontend/src/api/hooks/index.ts
  frontend/src/api/hooks/query-client.ts
  frontend/src/api/hooks/use-memberships.ts
  frontend/src/api/services/index.ts
  frontend/src/api/services/memberships.ts
  frontend/src/api/types/index.ts
  frontend/src/api/types/membership.ts
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-school-access.ts
  frontend/src/i18n/locales/de/common.json
  frontend/src/i18n/locales/de/nav.json
  frontend/src/i18n/locales/de/pages.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/nav.json
  frontend/src/i18n/locales/en/pages.json
  frontend/src/pages/SchoolDetailPage.tsx
  frontend/src/pages/SchoolsListPage.tsx
  frontend/src/pages/schools/components/MembersSection.tsx
  frontend/src/pages/schools/components/SchoolForm.tsx
  frontend/src/pages/schools/components/SchoolSettingsSection.tsx
  frontend/src/pages/schools/components/index.ts
  tasks/doing/backend/B-020-authentication-authorization.md
  tasks/done/frontend/F-019-schools-crud.md
  tasks/roadmap.md
  tasks/todo/frontend/F-022-add-school-members.md
  tasks/todo/frontend/F-023-school-settings-redesign.md
Due: biome-check, frontend-typecheck

feat(teachers): Enhance teacher management with new features and improvements
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherQualificationService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/dto/QualificationSummary.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserRepository.java
  backend/src/test/java/com/klassenzeit/klassenzeit/teacher/TeacherServiceTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/hooks/index.ts
  frontend/src/api/hooks/use-teachers.ts
  frontend/src/api/hooks/use-users.test.tsx
  frontend/src/api/hooks/use-users.ts
  frontend/src/api/services/teachers.ts
  frontend/src/api/services/users.ts
  frontend/src/api/types/common.ts
  frontend/src/api/types/teacher.ts
  frontend/src/components/layout/TopHeader.tsx
  frontend/src/components/school/SchoolSelector.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/i18n/locales/de/pages.json
  frontend/src/i18n/locales/en/pages.json
  frontend/src/pages/TeacherDetailPage.tsx
  frontend/src/pages/TeachersListPage.tsx
  frontend/src/pages/schools/components/AddMemberDialog.tsx
  frontend/src/pages/schools/components/UserSearchField.tsx
  frontend/src/pages/teachers/components/AvailabilitySection.tsx
  frontend/src/pages/teachers/components/QualificationsSection.tsx
  frontend/src/test/mocks/handlers.ts
Due: spotless-check, checkstyle, biome-check, frontend-typecheck

feat(code-reviewer): Introduce comprehensive code reviewer agent for thorough code quality checks
  .claude/agents/comprehensive-code-reviewer.md
  frontend/src/api/hooks/use-schools.test.tsx
  frontend/src/api/validation/schemas/school.ts
  frontend/src/test/mocks/handlers.ts
  tasks/done/backend/B-020-authentication-authorization.md
Due: biome-check, frontend-typecheck

feat(logging): Enhance logging in exception handling and user resolution
  backend/src/main/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandler.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/AuthorizationService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/security/UserResolutionFilter.java
  backend/src/main/resources/application.yaml
  e2e/tests/api/auth.ts
  e2e/tests/api/classes.api.spec.ts
  e2e/tests/api/rooms.api.spec.ts
  e2e/tests/api/schools.api.spec.ts
  e2e/tests/api/subjects.api.spec.ts
  e2e/tests/api/teachers.api.spec.ts
Due: spotless-check, checkstyle

feat(review): Introduce comprehensive code review framework and agents
  .claude/agents/backend-tests.md
  .claude/agents/code-quality.md
  .claude/agents/comprehensive-code-reviewer.md
  .claude/agents/docs-check.md
  .claude/agents/e2e-tests.md
  .claude/agents/frontend-tests.md
  .claude/agents/lighthouse-audit.md
  .claude/commands/review-all.md
  .claude/skills/code-review-checklist/SKILL.md
  .claude/skills/project-context/SKILL.md
  .claude/skills/testing-standards/SKILL.md
  .gitignore
  frontend/.claude/frontend-design/SKILL.md
  review-plan.md
  tasks/todo/REVIEW-FINDINGS-SUMMARY.md
  tasks/todo/backend/B-022-fix-critical-security-issues.md
  tasks/todo/backend/B-023-fix-n-plus-one-queries.md
  tasks/todo/backend/B-024-improve-security-test-coverage.md
  tasks/todo/backend/B-025-improve-user-package-coverage.md
  tasks/todo/backend/B-026-harden-cors-configuration.md
  tasks/todo/frontend/F-024-improve-api-hooks-coverage.md
  tasks/todo/frontend/F-025-improve-api-services-coverage.md
  tasks/todo/frontend/F-026-add-auth-module-tests.md
  tasks/todo/frontend/F-027-fix-schoolid-handling.md
  tasks/todo/global/G-012-create-missing-documentation.md
  tasks/todo/global/G-013-fix-e2e-test-flakiness.md
Due: none

fix(security): Address critical security and validation issues
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/AccessRequestController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/dto/CreateAccessRequestRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandler.java
  backend/src/main/java/com/klassenzeit/klassenzeit/room/dto/CreateRoomRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/room/dto/UpdateRoomRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/dto/CreateSchoolRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/dto/UpdateSchoolRequest.java
  tasks/done/backend/B-022-fix-critical-security-issues.md
  tasks/todo/backend/B-022-fix-critical-security-issues.md
Due: spotless-check, checkstyle

docs(tasks): Update task format and workflow guidelines
  CLAUDE.md
Due: none

fix(performance): Address N+1 query issues in membership and access request services
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/AccessRequestService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/accessrequest/SchoolAccessRequestRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/membership/SchoolMembershipService.java
  backend/src/main/resources/db/migration/V9__add_membership_indexes.sql
  tasks/done/backend/B-023-fix-n-plus-one-queries.md
  tasks/todo/REVIEW-FINDINGS-SUMMARY.md
Due: spotless-check, checkstyle

test(api): Add comprehensive tests for various hooks in the frontend API
  frontend/src/api/hooks/use-access-requests.test.tsx
  frontend/src/api/hooks/use-classes.test.tsx
  frontend/src/api/hooks/use-current-user.test.tsx
  frontend/src/api/hooks/use-lessons.test.tsx
  frontend/src/api/hooks/use-memberships.test.tsx
  frontend/src/api/hooks/use-rooms.test.tsx
  frontend/src/api/hooks/use-school-years.test.tsx
  frontend/src/api/hooks/use-terms.test.tsx
  frontend/src/api/hooks/use-time-slots.test.tsx
  frontend/src/test/mocks/handlers.ts
Due: biome-check, frontend-typecheck

test(auth): Add comprehensive tests for authentication components
  backend/src/test/java/com/klassenzeit/klassenzeit/security/AuthorizationServiceTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/CurrentUserAuthenticationTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/CurrentUserTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/SecurityConfigTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/security/UserResolutionFilterTest.java
  frontend/src/auth/AuthContext.test.tsx
  frontend/src/auth/AuthProvider.test.tsx
  frontend/src/auth/ProtectedRoute.test.tsx
  frontend/src/pages/CallbackPage.test.tsx
  tasks/done/backend/B-024-improve-security-test-coverage.md
  tasks/done/frontend/F-026-add-auth-module-tests.md
  tasks/todo/backend/B-024-improve-security-test-coverage.md
Due: spotless-check, checkstyle, biome-check, frontend-typecheck

feat(user): Enhance user management with improved coverage and functionality
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  backend/build.gradle.kts
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/user/AppUserService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/com/klassenzeit/klassenzeit/user/AppUserControllerTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/user/AppUserServiceTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/user/AppUserServiceUnitTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/user/AppUserTest.java
  docker/keycloak/klassenzeit-realm.json
  docs/api.md
  docs/architecture.md
  e2e/tests/api/auth.ts
  e2e/tests/api/classes.api.spec.ts
  e2e/tests/api/fixtures.ts
  e2e/tests/api/rooms.api.spec.ts
  e2e/tests/api/schools.api.spec.ts
  e2e/tests/api/subjects.api.spec.ts
  e2e/tests/api/teachers.api.spec.ts
  frontend/src/contexts/SchoolContext.test.tsx
  frontend/src/contexts/SchoolContext.tsx
  frontend/src/pages/TeacherDetailPage.tsx
  frontend/src/pages/TeachersListPage.tsx
  tasks/done/backend/B-025-improve-user-package-coverage.md
  tasks/done/frontend/F-024-improve-api-hooks-coverage.md
  tasks/done/frontend/F-027-fix-schoolid-handling.md
  tasks/done/global/G-012-create-missing-documentation.md
  tasks/done/global/G-013-fix-e2e-test-flakiness.md
  tasks/todo/REVIEW-FINDINGS-SUMMARY.md
  tasks/todo/backend/B-025-improve-user-package-coverage.md
  tasks/todo/frontend/F-024-improve-api-hooks-coverage.md
  tasks/todo/frontend/F-025-improve-api-services-coverage.md
Due: spotless-check, checkstyle, biome-check, frontend-typecheck

feat(subjects): Implement CRUD functionality for subjects management
  .claude/commands/review-all.md
  Makefile
  frontend/src/App.tsx
  frontend/src/api/hooks/use-schools.test.tsx
  frontend/src/api/hooks/use-schools.ts
  frontend/src/components/ui/color-picker.tsx
  frontend/src/i18n/locales/de/pages.json
  frontend/src/i18n/locales/en/pages.json
  frontend/src/pages/SchoolDetailPage.tsx
  frontend/src/pages/SubjectDetailPage.tsx
  frontend/src/pages/SubjectsListPage.tsx
  frontend/src/pages/SubjectsPage.tsx
  frontend/src/pages/TeacherDetailPage.tsx
  frontend/src/pages/TeachersListPage.tsx
  frontend/src/pages/subjects/components/SubjectForm.tsx
  frontend/src/pages/subjects/components/index.ts
  tasks/done/frontend/F-013-subjects-crud.md
  tasks/todo/REVIEW-FINDINGS-SUMMARY.md
  tasks/todo/frontend/F-013-subjects-crud.md
Due: biome-check, frontend-typecheck

test(subjects): Add unit tests for Subjects CRUD functionality
  frontend/src/api/types/resources.ts
  frontend/src/pages/SubjectDetailPage.test.tsx
  frontend/src/pages/SubjectsListPage.test.tsx
  frontend/src/pages/subjects/components/SubjectForm.test.tsx
  tasks/done/frontend/F-028-add-subjects-crud-tests.md
Due: biome-check, frontend-typecheck

Path conditions:
  spotless-check: any of: \.java$
  checkstyle: any of: \.java$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
