Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

spotless-check:
  name: Spotless Format Check
  entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
  language: system
  pass_filenames: false

checkstyle:
  name: Checkstyle
  entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
  language: system
  pass_filenames: false

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat(frontend): add room availability editor
  frontend/src/features/rooms/hooks.ts
  frontend/src/features/rooms/room-availability-grid.test.tsx
  frontend/src/features/rooms/room-availability-grid.tsx
  frontend/src/features/rooms/rooms-dialogs.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/tests/msw-handlers.ts
  frontend/tests/setup.ts
Due: biome-check, frontend-typecheck

feat(frontend): add teacher availability editor with tri-state cells
  frontend/src/features/teachers/hooks.ts
  frontend/src/features/teachers/teacher-availability-grid.test.tsx
  frontend/src/features/teachers/teacher-availability-grid.tsx
  frontend/src/features/teachers/teachers-dialogs.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
Due: biome-check, frontend-typecheck

feat(frontend): generate-lessons row action on school-classes page
  frontend/src/features/school-classes/generate-lessons-dialog.test.tsx
  frontend/src/features/school-classes/generate-lessons-dialog.tsx
  frontend/src/features/school-classes/hooks.ts
  frontend/src/features/school-classes/school-classes-page.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

chore(frontend): ratchet coverage baseline after sub-resource editors
  .coverage-baseline-frontend
Due: none

docs: record sub-resource editors shipped and capture test-helper lessons
  docs/superpowers/OPEN_THINGS.md
  frontend/CLAUDE.md
Due: none

feat(frontend): sub-resource editors for rooms, teachers, week schemes, and class lesson generator (#104)
  .coverage-baseline-frontend
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-20-sub-resource-editors.md
  docs/superpowers/specs/2026-04-20-sub-resource-editors-design.md
  frontend/CLAUDE.md
  frontend/src/features/rooms/hooks.ts
  frontend/src/features/rooms/room-availability-grid.test.tsx
  frontend/src/features/rooms/room-availability-grid.tsx
  frontend/src/features/rooms/rooms-dialogs.tsx
  frontend/src/features/school-classes/generate-lessons-dialog.test.tsx
  frontend/src/features/school-classes/generate-lessons-dialog.tsx
  frontend/src/features/school-classes/hooks.ts
  frontend/src/features/school-classes/school-classes-page.tsx
  frontend/src/features/subjects/subject-multi-picker.test.tsx
  frontend/src/features/subjects/subject-multi-picker.tsx
  frontend/src/features/teachers/hooks.ts
  frontend/src/features/teachers/teacher-availability-grid.test.tsx
  frontend/src/features/teachers/teacher-availability-grid.tsx
  frontend/src/features/teachers/teacher-qualifications-editor.test.tsx
  frontend/src/features/teachers/teacher-qualifications-editor.tsx
  frontend/src/features/teachers/teachers-dialogs.tsx
  frontend/src/features/week-schemes/hooks.ts
  frontend/src/features/week-schemes/schema.ts
  frontend/src/features/week-schemes/time-blocks-table.test.tsx
  frontend/src/features/week-schemes/time-blocks-table.tsx
  frontend/src/features/week-schemes/week-schemes-dialogs.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/tests/msw-handlers.ts
  frontend/tests/setup.ts
Due: biome-check, frontend-typecheck

docs: add recently-edited dashboard tile design spec
  docs/superpowers/specs/2026-04-20-updated-at-list-endpoints-design.md
Due: none

docs: add recently-edited dashboard tile implementation plan
  docs/superpowers/plans/2026-04-20-updated-at-list-endpoints.md
Due: none

feat(frontend): add recent-entries i18n keys for dashboard tile
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
Due: biome-check

feat(frontend): replace dashboard recently-edited placeholder with live tile
  frontend/src/features/dashboard/recently-edited.test.tsx
  frontend/src/features/dashboard/recently-edited.tsx
Due: biome-check, frontend-typecheck

docs: close updated_at-on-lists item, queue deep-link follow-up
  docs/superpowers/OPEN_THINGS.md
Due: none

docs(frontend): note vi.useFakeTimers toFake requirement for RTL
  frontend/CLAUDE.md
Due: none

feat(frontend): live recently-edited dashboard tile (#105)
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-20-updated-at-list-endpoints.md
  docs/superpowers/specs/2026-04-20-updated-at-list-endpoints-design.md
  frontend/CLAUDE.md
  frontend/src/features/dashboard/recently-edited.test.tsx
  frontend/src/features/dashboard/recently-edited.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
Due: biome-check, frontend-typecheck

docs(claude): record quality-first, tidy-first work-selection rule
  .claude/CLAUDE.md
Due: none

docs: add shared ConfirmDialog design spec
  docs/superpowers/specs/2026-04-20-shared-confirm-dialog-design.md
Due: none

docs: add shared ConfirmDialog implementation plan
  docs/superpowers/plans/2026-04-20-shared-confirm-dialog.md
Due: none

docs: fix i18n import path and simplify ConfirmDialog test harness
  docs/superpowers/plans/2026-04-20-shared-confirm-dialog.md
  frontend/CLAUDE.md
Due: none

refactor(frontend): introduce ConfirmDialog primitive
  frontend/src/components/confirm-dialog.test.tsx
  frontend/src/components/confirm-dialog.tsx
Due: biome-check, frontend-typecheck

refactor(frontend): adopt ConfirmDialog in entity delete dialogs
  frontend/src/features/lessons/lessons-dialogs.tsx
  frontend/src/features/rooms/rooms-dialogs.tsx
  frontend/src/features/school-classes/school-classes-dialogs.tsx
  frontend/src/features/stundentafeln/stundentafeln-dialogs.tsx
  frontend/src/features/subjects/subjects-dialogs.tsx
  frontend/src/features/teachers/teachers-dialogs.tsx
  frontend/src/features/week-schemes/week-schemes-dialogs.tsx
Due: biome-check, frontend-typecheck

docs: remove resolved ConfirmDialog item and note render-harness rule
  docs/superpowers/OPEN_THINGS.md
  frontend/CLAUDE.md
Due: none

refactor(frontend): extract shared ConfirmDialog primitive (#106)
  .claude/CLAUDE.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-20-shared-confirm-dialog.md
  docs/superpowers/specs/2026-04-20-shared-confirm-dialog-design.md
  frontend/CLAUDE.md
  frontend/src/components/confirm-dialog.test.tsx
  frontend/src/components/confirm-dialog.tsx
  frontend/src/features/lessons/lessons-dialogs.tsx
  frontend/src/features/rooms/rooms-dialogs.tsx
  frontend/src/features/school-classes/school-classes-dialogs.tsx
  frontend/src/features/stundentafeln/stundentafeln-dialogs.tsx
  frontend/src/features/subjects/subjects-dialogs.tsx
  frontend/src/features/teachers/teachers-dialogs.tsx
  frontend/src/features/week-schemes/week-schemes-dialogs.tsx
Due: biome-check, frontend-typecheck

docs: add shared toast primitive design spec
  docs/superpowers/specs/2026-04-20-shared-toast-primitive-design.md
Due: none

docs: align shared toast spec with real test-file paths
  docs/superpowers/specs/2026-04-20-shared-toast-primitive-design.md
Due: none

docs: add shared toast primitive implementation plan
  docs/superpowers/plans/2026-04-20-shared-toast-primitive.md
Due: none

feat(frontend): add shadcn sonner Toaster primitive
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/sonner.test.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/main.tsx
  frontend/tests/render-helpers.tsx
Due: biome-check, frontend-typecheck

refactor(frontend): use toast for Generate-lessons result
  frontend/src/features/school-classes/school-classes-page.tsx
  frontend/tests/school-classes-page.test.tsx
Due: biome-check, frontend-typecheck

chore(frontend): drop unused @radix-ui/react-toast
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check

docs: note sonner adoption and update OPEN_THINGS after shared toast
  docs/superpowers/OPEN_THINGS.md
  frontend/CLAUDE.md
Due: none

refactor(frontend): ship shared toast primitive (#107)
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-20-shared-toast-primitive.md
  docs/superpowers/specs/2026-04-20-shared-toast-primitive-design.md
  frontend/CLAUDE.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/sonner.test.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/features/school-classes/school-classes-page.tsx
  frontend/src/main.tsx
  frontend/tests/render-helpers.tsx
  frontend/tests/school-classes-page.test.tsx
Due: biome-check, frontend-typecheck

docs: add .claude/rules directory rework design spec
  docs/superpowers/specs/2026-04-21-claude-rules-directory-design.md
Due: none

docs: add .claude/rules directory rework implementation plan
  docs/superpowers/plans/2026-04-21-claude-rules-directory.md
Due: none

chore(claude): allow git fetch in claude permissions
  .claude/settings.json
Due: none

docs(claude): add backend CLAUDE.md with python rules
  backend/CLAUDE.md
Due: none

docs(claude): add pyproject path-scoped rule
  .claude/rules/pyproject.md
Due: none

docs(claude): move pnpm dep rule into frontend CLAUDE.md
  .claude/CLAUDE.md
  frontend/CLAUDE.md
Due: none

docs(claude): slim root CLAUDE.md and rehome frontend-specific rules
  .claude/CLAUDE.md
  frontend/CLAUDE.md
Due: none

docs: note rules directory adoption in OPEN_THINGS
  docs/superpowers/OPEN_THINGS.md
Due: none

docs(frontend): nudge toward frontend-design skill for new UI work
  frontend/CLAUDE.md
Due: none

docs: adopt .claude/rules/ directory and split project memory (#108)
  .claude/CLAUDE.md
  .claude/rules/pyproject.md
  .claude/settings.json
  backend/CLAUDE.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-21-claude-rules-directory.md
  docs/superpowers/specs/2026-04-21-claude-rules-directory-design.md
  frontend/CLAUDE.md
Due: none

docs: add commit-types single-source design spec
  docs/superpowers/specs/2026-04-22-commit-types-single-source-design.md
Due: none

Path conditions:
  spotless-check: any of: \.java$
  checkstyle: any of: \.java$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
