Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

spotless-check:
  name: Spotless Format Check
  entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
  language: system
  pass_filenames: false

checkstyle:
  name: Checkstyle
  entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
  language: system
  pass_filenames: false

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat(frontend): onboarding checklist card
  frontend/src/__tests__/checklist-card.test.tsx
  frontend/src/components/onboarding/checklist-card.tsx
Due: biome-check, frontend-typecheck

i18n(frontend): onboarding wizard strings (en/de)
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check

feat(frontend): auto-launch onboarding wizard from school dashboard
  frontend/src/app/[locale]/schools/[id]/page.tsx
Due: biome-check, frontend-typecheck

docs: mark 2a (onboarding wizard) complete
  docs/STATUS.md
Due: none

docs: mark 2a done, remove from tier-2 priorities
  docs/superpowers/next-steps.md
Due: none

docs: spec for timetable views (2b)
  docs/superpowers/specs/2026-04-07-timetable-views-design.md
Due: none

docs: implementation plan for timetable views (2b)
  docs/superpowers/plans/2026-04-07-timetable-views.md
Due: none

feat(backend): add GET /lessons endpoint scaffold
  backend/src/app.rs
  backend/src/controllers/lessons.rs
  backend/src/controllers/mod.rs
Due: none

test(backend): integration tests for GET /lessons
  backend/tests/requests/lessons.rs
  backend/tests/requests/mod.rs
Due: none

feat(frontend): add LessonResponse and TimetableViewMode types
  frontend/src/lib/types.ts
Due: biome-check, frontend-typecheck

feat(frontend): add reusable TimetableGrid component
  frontend/src/__tests__/timetable-grid.test.tsx
  frontend/src/components/timetable/timetable-grid.tsx
Due: biome-check, frontend-typecheck

feat(frontend): add ViewModeSelector component
  frontend/src/__tests__/view-mode-selector.test.tsx
  frontend/src/components/timetable/view-mode-selector.tsx
Due: biome-check, frontend-typecheck

feat(frontend): add timetable i18n strings
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check

feat(frontend): add /timetable read-only viewer page
  frontend/src/__tests__/timetable-page.test.tsx
  frontend/src/app/[locale]/schools/[id]/timetable/page.tsx
Due: biome-check, frontend-typecheck

refactor(frontend): use TimetableGrid+ViewModeSelector on schedule page
  frontend/src/app/[locale]/schools/[id]/schedule/page.tsx
Due: biome-check, frontend-typecheck

feat(frontend): add Timetable sidebar nav entry
  frontend/src/app/[locale]/schools/[id]/layout.tsx
Due: biome-check, frontend-typecheck

docs: mark 2b (timetable views) complete
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs(spec): conflict resolution UI (2d) design
  docs/superpowers/specs/2026-04-07-conflict-resolution-ui-design.md
Due: none

docs(plan): conflict resolution UI (2d) implementation plan
  docs/superpowers/plans/2026-04-07-conflict-resolution-ui.md
Due: none

scheduler: introduce structured Violation type and emit from pre-validate/unplaced
  backend/src/services/scheduler.rs
  scheduler/src/lib.rs
  scheduler/src/mapper.rs
  scheduler/src/types.rs
Due: none

scheduler: add diagnose() emitting structured violations per kind
  scheduler/src/constraints.rs
  scheduler/src/types.rs
Due: none

scheduler: run diagnose() once after local search and merge into output
  scheduler/src/lib.rs
  scheduler/src/mapper.rs
Due: none

backend: structured violation DTOs + integration test
  backend/src/services/scheduler.rs
  backend/tests/requests/scheduler.rs
Due: none

frontend: structured ViolationDto types and i18n keys
  frontend/src/__tests__/schedule-page.test.tsx
  frontend/src/app/[locale]/schools/[id]/schedule/page.tsx
  frontend/src/lib/types.ts
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check, frontend-typecheck

frontend(timetable-grid): optional highlightedCells prop
  frontend/src/components/timetable/timetable-grid.tsx
Due: biome-check, frontend-typecheck

frontend: ViolationsPanel with grouped tabs and fix popover
  frontend/src/__tests__/violations-panel.test.tsx
  frontend/src/components/timetable/violations-panel.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/tabs.tsx
Due: biome-check, frontend-typecheck

frontend(schedule): wire ViolationsPanel + cell highlighting
  frontend/src/__tests__/schedule-page.test.tsx
  frontend/src/app/[locale]/schools/[id]/schedule/page.tsx
Due: biome-check, frontend-typecheck

frontend: deep-link violation fix popover into settings tabs
  frontend/src/__tests__/subjects-tab.test.tsx
  frontend/src/__tests__/violations-panel.test.tsx
  frontend/src/app/[locale]/schools/[id]/schedule/page.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/rooms-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/subjects-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/teachers-tab.tsx
  frontend/src/components/timetable/violations-panel.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check, frontend-typecheck

docs: mark 2d (conflict resolution UI) complete
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: spec for manual timetable editing (2c)
  docs/superpowers/specs/2026-04-07-manual-timetable-editing-design.md
Due: none

docs: implementation plan for manual timetable editing (2c)
  docs/superpowers/plans/2026-04-07-manual-timetable-editing.md
Due: none

backend: evaluate_term_violations helper for manual edits
  backend/src/services/scheduler.rs
Due: none

backend(lessons): include_violations query param on list
  backend/src/controllers/lessons.rs
  backend/tests/requests/lessons.rs
Due: none

backend(lessons): admin PATCH endpoint with re-diagnosis
  backend/src/controllers/lessons.rs
  backend/tests/requests/lessons.rs
Due: none

backend(lessons): admin swap endpoint with transactional update
  backend/src/controllers/lessons.rs
  backend/tests/requests/lessons.rs
Due: none

frontend: add @dnd-kit/core and edit-lesson types
  frontend/bun.lock
  frontend/package.json
  frontend/src/lib/types.ts
Due: biome-check, frontend-typecheck

frontend(timetable): LessonEditDialog with diff-only submit
  frontend/src/__tests__/lesson-edit-dialog.test.tsx
  frontend/src/components/timetable/lesson-edit-dialog.tsx
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check, frontend-typecheck

frontend(timetable): UndoToolbar component
  frontend/src/__tests__/undo-toolbar.test.tsx
  frontend/src/components/timetable/undo-toolbar.tsx
Due: biome-check, frontend-typecheck

frontend(timetable): editable mode with drag, drop, swap, edit kebab
  frontend/src/__tests__/timetable-grid.test.tsx
  frontend/src/components/timetable/timetable-grid.tsx
  frontend/src/lib/types.ts
Due: biome-check, frontend-typecheck

frontend(timetable): wire drag, swap, edit, undo on /timetable
  frontend/src/__tests__/timetable-page.test.tsx
  frontend/src/app/[locale]/schools/[id]/timetable/page.tsx
  frontend/src/lib/api-client.ts
Due: biome-check, frontend-typecheck

Path conditions:
  spotless-check: any of: \.java$
  checkstyle: any of: \.java$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
