Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Format Check
        entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      # Frontend hooks
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript type check
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

Add CI and code review workflows
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Implement frontend setup with React, TypeScript, and Vite
  CLAUDE.md
  frontend/.gitignore
  frontend/CLAUDE.md
  frontend/README.md
  frontend/biome.json
  frontend/components.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/pages/Home.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: biome-check, frontend-typecheck

Add database support and development setup for Klassenzeit
  .gitignore
  CLAUDE.md
  Makefile
  backend/CLAUDE.md
  backend/build.gradle.kts
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/migration/.gitkeep
  backend/src/test/java/com/klassenzeit/klassenzeit/AbstractIntegrationTest.java
  backend/src/test/resources/application-test.yaml
  backend/src/test/resources/testcontainers.properties
  compose.yml
Due: spotless-check, checkstyle

Enhance backend functionality and documentation
  Makefile
  backend/CLAUDE.md
  backend/build.gradle.kts
  backend/config/pmd/ruleset.xml
  backend/config/spotbugs/exclusions.xml
  backend/src/main/java/com/klassenzeit/klassenzeit/common/AvailabilityType.java
  backend/src/main/java/com/klassenzeit/klassenzeit/common/BaseEntity.java
  backend/src/main/java/com/klassenzeit/klassenzeit/common/QualificationLevel.java
  backend/src/main/java/com/klassenzeit/klassenzeit/common/WeekPattern.java
  backend/src/main/java/com/klassenzeit/klassenzeit/lesson/Lesson.java
  backend/src/main/java/com/klassenzeit/klassenzeit/room/Room.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/School.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/SchoolYear.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/Term.java
  backend/src/main/java/com/klassenzeit/klassenzeit/schoolclass/SchoolClass.java
  backend/src/main/java/com/klassenzeit/klassenzeit/subject/Subject.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/Teacher.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherAvailability.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherSubjectQualification.java
  backend/src/main/java/com/klassenzeit/klassenzeit/timeslot/TimeSlot.java
  backend/src/main/resources/db/migration/.gitkeep
  backend/src/main/resources/db/migration/V1__create_core_entities.sql
  backend/src/main/resources/db/migration/V2__create_resources.sql
  backend/src/main/resources/db/migration/V3__create_constraints.sql
  backend/src/main/resources/db/migration/V4__create_lesson.sql
  backend/src/test/java/com/klassenzeit/klassenzeit/EntityMappingIntegrationTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/KlassenzeitApplicationTests.java
  docs/data-model.md
Due: spotless-check, checkstyle

Add project planning documentation and roadmap
  CLAUDE.md
  tasks/roadmap.md
Due: none

Enhance testing documentation and configuration
  backend/CLAUDE.md
  backend/build.gradle.kts
  backend/src/test/resources/testcontainers.properties
Due: none

Enhance testing capabilities and documentation
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  e2e/.gitignore
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/home.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tsconfig.json
  frontend/CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/button.test.tsx
  frontend/src/lib/utils.test.ts
  frontend/src/pages/Home.test.tsx
  frontend/src/test/setup.ts
  frontend/tsconfig.app.json
  frontend/vitest.config.ts
Due: biome-check, frontend-typecheck

Update project setup to transition from Podman to Docker
  CLAUDE.md
  Makefile
  backend/.gitignore
  backend/CLAUDE.md
  backend/build.gradle.kts
  backend/config/checkstyle/suppressions.xml
  backend/config/pmd/ruleset.xml
  backend/config/spotbugs/exclusions.xml
  backend/src/main/java/com/klassenzeit/klassenzeit/lesson/LessonRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/room/RoomRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/SchoolRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/SchoolYearRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/TermRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/schoolclass/SchoolClassRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/subject/SubjectRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherAvailabilityRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherSubjectQualificationRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/timeslot/TimeSlotRepository.java
  backend/src/test/java/com/klassenzeit/klassenzeit/AbstractIntegrationTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/TestContainersConfiguration.java
  backend/src/test/java/com/klassenzeit/klassenzeit/TestDataBuilder.java
  backend/src/test/java/com/klassenzeit/klassenzeit/lesson/LessonRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/room/RoomRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/school/SchoolRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/school/SchoolYearRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/school/TermRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/schoolclass/SchoolClassRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/subject/SubjectRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/teacher/TeacherAvailabilityRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/teacher/TeacherRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/teacher/TeacherSubjectQualificationRepositoryTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/timeslot/TimeSlotRepositoryTest.java
  backend/src/test/resources/testcontainers.properties
  docs/learnings.md
  tasks/roadmap.md
Due: spotless-check, checkstyle

fix frontend package setup
  frontend/package-lock.json
  frontend/package.json
Due: biome-check

Refactor CI workflow to run E2E tests only on main branch pushes
  .github/workflows/ci.yml
Due: none

Add CORS configuration and enhance error handling
  .env.example
  backend/src/main/java/com/klassenzeit/klassenzeit/common/CorsConfig.java
  backend/src/main/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandler.java
  backend/src/main/java/com/klassenzeit/klassenzeit/lesson/LessonRepository.java
  backend/src/main/java/com/klassenzeit/klassenzeit/lesson/LessonService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/School.java
  backend/src/main/java/com/klassenzeit/klassenzeit/school/SchoolYear.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/Teacher.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/dto/CreateAvailabilityRequest.java
  backend/src/main/java/com/klassenzeit/klassenzeit/timeslot/dto/CreateTimeSlotRequest.java
  backend/src/main/resources/db/migration/V5__add_performance_indexes.sql
  backend/src/test/java/com/klassenzeit/klassenzeit/common/CorsIntegrationTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandlerTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandlerTestController.java
  backend/src/test/java/com/klassenzeit/klassenzeit/lesson/LessonServiceTest.java
  compose.yml
  frontend/index.html
  tasks/roadmap.md
Due: spotless-check, checkstyle

Add Spring Boot Actuator dependency and configure health endpoint exposure
  backend/build.gradle.kts
  backend/src/main/resources/application.yaml
Due: none

Remove PostgreSQL dialect configuration from application.yaml will be autosourced
  backend/src/main/resources/application.yaml
Due: none

Add actuator and logging configuration to roadmap
  tasks/roadmap.md
Due: none

Add OpenAPI documentation and dev seed data
  backend/build.gradle.kts
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/seed/V100__seed_dev_data.sql
  tasks/roadmap.md
Due: none

Address PR review feedback for seed data
  backend/src/main/resources/db/seed/V100__seed_dev_data.sql
Due: none

Fix CI to match pre-commit checks
  .github/workflows/ci.yml
Due: none

Add Orval for API type generation and e2e API integration tests
  e2e/package.json
  e2e/tests/api/classes.api.spec.ts
  e2e/tests/api/rooms.api.spec.ts
  e2e/tests/api/schools.api.spec.ts
  e2e/tests/api/subjects.api.spec.ts
  e2e/tests/api/teachers.api.spec.ts
  frontend/orval.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/fetcher.ts
Due: biome-check, frontend-typecheck

Document API integration in CLAUDE.md files
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

Add API integration test command to root CLAUDE.md
  CLAUDE.md
Due: none

Fix e2e API tests per PR review
  e2e/tests/api/classes.api.spec.ts
  e2e/tests/api/config.ts
  e2e/tests/api/rooms.api.spec.ts
  e2e/tests/api/schools.api.spec.ts
  e2e/tests/api/subjects.api.spec.ts
  e2e/tests/api/teachers.api.spec.ts
Due: none

Enhance project documentation and task management structure
  CLAUDE.md
  tasks/done/backend/B-100-spring-data-jpa-repositories.md
  tasks/done/backend/B-101-rest-api-setup.md
  tasks/done/backend/B-102-development-seed-data.md
  tasks/done/backend/B-103-bean-validation.md
  tasks/done/backend/B-104-dtos.md
  tasks/done/backend/B-105-service-layer.md
  tasks/done/backend/B-106-api-documentation.md
  tasks/done/backend/B-107-actuator-health-checks.md
  tasks/roadmap.md
  tasks/todo/backend/B-001-implement-pagination.md
  tasks/todo/backend/B-002-cascading-delete-tests.md
  tasks/todo/backend/B-003-concurrent-operation-handling.md
  tasks/todo/backend/B-004-request-response-logging.md
  tasks/todo/backend/B-010-scheduling-constraints-model.md
  tasks/todo/backend/B-011-timetabling-algorithm.md
  tasks/todo/backend/B-012-schedule-validation.md
  tasks/todo/backend/B-020-authentication-authorization.md
  tasks/todo/backend/B-021-multi-tenancy-enforcement.md
  tasks/todo/frontend/F-001-add-api-error-handling.md
  tasks/todo/frontend/F-002-implement-input-validation.md
  tasks/todo/frontend/F-003-add-jsdoc-documentation.md
  tasks/todo/frontend/F-004-verify-bundle-size.md
  tasks/todo/frontend/F-005-request-rate-limiting.md
  tasks/todo/frontend/F-006-react-query-cache-settings.md
  tasks/todo/frontend/F-007-frontend-pagination.md
  tasks/todo/frontend/F-008-optimistic-updates.md
  tasks/todo/global/G-001-extract-hardcoded-api-urls.md
  tasks/todo/global/G-002-document-env-variables.md
  tasks/todo/global/G-003-improve-test-isolation.md
  tasks/todo/global/G-004-cleanup-test-assertions.md
  tasks/todo/global/G-005-boundary-condition-tests.md
  tasks/todo/global/G-006-network-condition-tests.md
  tasks/todo/global/G-010-structured-logging.md
Due: none

Document environment variable configuration in README and CLAUDE.md
  CLAUDE.md
  README.md
  e2e/.env.example
  tasks/done/global/G-001-extract-hardcoded-api-urls.md
  tasks/done/global/G-002-document-env-variables.md
  tasks/todo/global/G-001-extract-hardcoded-api-urls.md
  tasks/todo/global/G-002-document-env-variables.md
Due: none

Add boundary condition tests and clean up response status checks in E2E API tests
  e2e/tests/api/classes.api.spec.ts
  e2e/tests/api/rooms.api.spec.ts
  e2e/tests/api/schools.api.spec.ts
  e2e/tests/api/subjects.api.spec.ts
  e2e/tests/api/teachers.api.spec.ts
  tasks/done/global/G-003-improve-test-isolation.md
  tasks/done/global/G-004-cleanup-test-assertions.md
  tasks/done/global/G-005-boundary-condition-tests.md
  tasks/roadmap.md
  tasks/todo/global/G-003-improve-test-isolation.md
  tasks/todo/global/G-004-cleanup-test-assertions.md
  tasks/todo/global/G-005-boundary-condition-tests.md
Due: none

Add error handling utilities and integrate Sonner for notifications
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/base-error.ts
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/error-handler.test.ts
  frontend/src/api/error-handler.ts
  frontend/src/api/errors.test.ts
  frontend/src/api/errors.ts
  frontend/src/api/hooks/query-client.ts
  frontend/src/api/index.ts
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/setup.ts
  tasks/done/frontend/F-001-add-api-error-handling.md
  tasks/roadmap.md
  tasks/todo/frontend/F-001-add-api-error-handling.md
Due: biome-check, frontend-typecheck

Revise roadmap and implement frontend and backend task structures
  tasks/roadmap.md
  tasks/todo/backend/B-010-scheduling-constraints-model.md
  tasks/todo/backend/B-011-timetabling-algorithm.md
  tasks/todo/backend/B-012-schedule-validation.md
  tasks/todo/frontend/F-010-app-layout-navigation.md
  tasks/todo/frontend/F-011-shared-components.md
  tasks/todo/frontend/F-012-teachers-crud.md
  tasks/todo/frontend/F-013-subjects-crud.md
  tasks/todo/frontend/F-014-rooms-crud.md
  tasks/todo/frontend/F-015-classes-crud.md
  tasks/todo/frontend/F-016-timeslots-config.md
  tasks/todo/frontend/F-017-timetable-views.md
  tasks/todo/frontend/F-018-settings-pages.md
Due: none

Enhance frontend API services and validation schemas
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/hooks/use-classes.ts
  frontend/src/api/hooks/use-lessons.ts
  frontend/src/api/hooks/use-rooms.ts
  frontend/src/api/hooks/use-school-years.ts
  frontend/src/api/hooks/use-schools.ts
  frontend/src/api/hooks/use-subjects.ts
  frontend/src/api/hooks/use-teachers.ts
  frontend/src/api/hooks/use-terms.ts
  frontend/src/api/hooks/use-time-slots.ts
  frontend/src/api/services/classes.ts
  frontend/src/api/services/lessons.ts
  frontend/src/api/services/rooms.ts
  frontend/src/api/services/school-years.ts
  frontend/src/api/services/schools.ts
  frontend/src/api/services/subjects.ts
  frontend/src/api/services/teachers.ts
  frontend/src/api/services/terms.ts
  frontend/src/api/services/time-slots.ts
  frontend/src/api/validation/utils.ts
  frontend/src/api/validation/validate.ts
  frontend/vite.config.ts
Due: biome-check, frontend-typecheck

Add Timefold solver dependencies and implement planning domain model
  backend/CLAUDE.md
  backend/build.gradle.kts
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/constraint/TimetableConstraintProvider.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/domain/PlanningLesson.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/domain/PlanningRoom.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/domain/PlanningSchoolClass.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/domain/PlanningSubject.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/domain/PlanningTeacher.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/domain/PlanningTimeSlot.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/domain/Timetable.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/mapper/TimetableMapper.java
  backend/src/test/java/com/klassenzeit/klassenzeit/solver/domain/PlanningDomainTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/solver/mapper/TimetableMapperTest.java
  tasks/done/backend/B-010-scheduling-constraints-model.md
  tasks/todo/backend/B-010-scheduling-constraints-model.md
  tasks/todo/backend/B-011-timetabling-algorithm.md
Due: spotless-check, checkstyle

Implement Timefold solver service and API for timetable generation
  backend/src/main/java/com/klassenzeit/klassenzeit/common/GlobalExceptionHandler.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/constraint/TimetableConstraintProvider.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/controller/TimetableSolverController.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/dto/ConstraintViolationDto.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/dto/LessonAssignment.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/dto/SolveStatus.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/dto/SolverJobResponse.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/dto/TimetableSolutionResponse.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/service/TimetableSolverService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/com/klassenzeit/klassenzeit/solver/TimetableSolverIntegrationTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/solver/constraint/TimetableConstraintProviderTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/solver/controller/TimetableSolverControllerTest.java
  backend/src/test/java/com/klassenzeit/klassenzeit/solver/service/TimetableSolverServiceTest.java
  docs/timetabling-constraints.md
  tasks/done/backend/B-011-timetabling-algorithm.md
  tasks/done/backend/B-012-schedule-validation.md
  tasks/roadmap.md
  tasks/todo/frontend/F-019-solver-integration.md
Due: spotless-check, checkstyle

Enhance timetable solver functionality and integrate frontend hooks
  backend/src/main/java/com/klassenzeit/klassenzeit/KlassenzeitApplication.java
  backend/src/main/java/com/klassenzeit/klassenzeit/solver/service/TimetableSolverService.java
  backend/src/main/java/com/klassenzeit/klassenzeit/teacher/TeacherRepository.java
  docs/timetabling-constraints.md
  frontend/src/api/generated/models/constraintViolationDto.ts
  frontend/src/api/generated/models/index.ts
  frontend/src/api/generated/models/lessonAssignment.ts
  frontend/src/api/generated/models/lessonAssignmentWeekPattern.ts
  frontend/src/api/generated/models/solverJobResponse.ts
  frontend/src/api/generated/models/solverJobResponseStatus.ts
  frontend/src/api/generated/models/timetableSolutionResponse.ts
  frontend/src/api/generated/timetable-solver/timetable-solver.ts
  frontend/src/api/hooks/index.ts
  frontend/src/api/hooks/query-client.ts
  frontend/src/api/hooks/use-solver.test.tsx
  frontend/src/api/hooks/use-solver.ts
  frontend/src/api/services/index.ts
  frontend/src/api/services/solver.ts
  frontend/src/api/types/index.ts
  frontend/src/api/types/solver.ts
  tasks/done/frontend/F-019-solver-integration.md
  tasks/roadmap.md
  tasks/todo/frontend/F-019-solver-integration.md
  tasks/todo/frontend/F-020-solver-ui.md
Due: spotless-check, checkstyle, biome-check, frontend-typecheck

feat(frontend): Add app layout with sidebar navigation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/MobileSidebar.tsx
  frontend/src/components/layout/NavItem.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/TopHeader.tsx
  frontend/src/components/layout/index.ts
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/pages/ClassesPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/Home.test.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/RoomsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/SubjectsPage.tsx
  frontend/src/pages/TeacherDetailPage.tsx
  frontend/src/pages/TeachersListPage.tsx
  frontend/src/pages/TimeSlotsPage.tsx
  frontend/src/pages/TimetablePage.tsx
  frontend/src/test/test-utils.tsx
  tasks/done/frontend/F-010-app-layout-navigation.md
Due: biome-check, frontend-typecheck

test(frontend): Add tests for layout components
  frontend/src/components/layout/AppLayout.test.tsx
  frontend/src/components/layout/NavItem.test.tsx
  frontend/src/components/layout/Sidebar.test.tsx
Due: biome-check, frontend-typecheck

docs(tasks): Update F-010 completion notes and add G-011 deployment task
  tasks/done/frontend/F-010-app-layout-navigation.md
  tasks/todo/global/G-011-production-deployment-setup.md
Due: none

docs(tasks): Add JSDoc documentation and bundle size verification tasks
  tasks/done/frontend/F-003-add-jsdoc-documentation.md
  tasks/done/frontend/F-004-verify-bundle-size.md
  tasks/roadmap.md
Due: none

feat(i18n): Update translation files for German and English
  frontend/src/components/shared/ConfirmDialog.test.tsx
  frontend/src/components/shared/ConfirmDialog.tsx
  frontend/src/components/shared/DataTable.test.tsx
  frontend/src/components/shared/DataTable.tsx
  frontend/src/components/shared/EmptyState.test.tsx
  frontend/src/components/shared/EmptyState.tsx
  frontend/src/components/shared/ErrorState.test.tsx
  frontend/src/components/shared/ErrorState.tsx
  frontend/src/components/shared/LoadingState.test.tsx
  frontend/src/components/shared/LoadingState.tsx
  frontend/src/components/shared/PageHeader.test.tsx
  frontend/src/components/shared/PageHeader.tsx
  frontend/src/components/shared/index.ts
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/i18n/locales/de/common.json
  frontend/src/i18n/locales/en/common.json
  tasks/done/frontend/F-011-shared-components.md
  tasks/roadmap.md
Due: biome-check, frontend-typecheck
