Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Format Check
        entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      # Frontend hooks
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript type check
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

feat(backend): persist per-class schedule on POST
  backend/src/klassenzeit_backend/scheduling/routes/schedule.py
  backend/src/klassenzeit_backend/scheduling/solver_io.py
  backend/tests/scheduling/test_schedule_persistence.py
Due: none

feat(backend): add GET /api/classes/{id}/schedule
  backend/src/klassenzeit_backend/scheduling/routes/schedule.py
  backend/src/klassenzeit_backend/scheduling/schemas/schedule.py
  backend/src/klassenzeit_backend/scheduling/solver_io.py
  backend/tests/scheduling/test_schedule_persistence.py
  backend/tests/scheduling/test_schedule_route.py
Due: none

docs: mark placement persistence done; add cross-class follow-ups
  docs/superpowers/OPEN_THINGS.md
Due: none

docs(backend): add alembic autogenerate and rowcount gotchas
  backend/CLAUDE.md
Due: none

feat(backend): placement persistence (scheduled_lessons + POST upsert + GET) (#120)
  backend/CLAUDE.md
  backend/alembic/versions/9175c45105fe_add_scheduled_lessons_table.py
  backend/src/klassenzeit_backend/db/models/__init__.py
  backend/src/klassenzeit_backend/db/models/scheduled_lesson.py
  backend/src/klassenzeit_backend/scheduling/routes/schedule.py
  backend/src/klassenzeit_backend/scheduling/schemas/schedule.py
  backend/src/klassenzeit_backend/scheduling/solver_io.py
  backend/tests/scheduling/test_schedule_persistence.py
  backend/tests/scheduling/test_schedule_route.py
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-23-placement-persistence.md
  docs/superpowers/specs/2026-04-23-placement-persistence-design.md
Due: none

docs: add day-key helper design spec
  docs/superpowers/specs/2026-04-23-day-key-helper-design.md
Due: none

docs: add day-key helper implementation plan
  docs/superpowers/plans/2026-04-23-day-key-helper.md
Due: none

refactor(frontend): extract dayShortKey/dayLongKey i18n helper
  docs/superpowers/OPEN_THINGS.md
  frontend/src/features/rooms/room-availability-grid.tsx
  frontend/src/features/teachers/teacher-availability-grid.tsx
  frontend/src/features/week-schemes/time-blocks-table.tsx
  frontend/src/features/week-schemes/week-schemes-page.tsx
  frontend/src/i18n/day-keys.test.ts
  frontend/src/i18n/day-keys.ts
Due: biome-check, frontend-typecheck

docs(frontend): note day-keys helper pattern as template-literal exception
  frontend/CLAUDE.md
Due: none

chore(settings): allowlist chrome-devtools read-only MCP tools and absolute-path brainstorm script; fix autopilot skill name
  .claude/commands/autopilot.md
  .claude/settings.json
Due: none

chore(autopilot): fix remaining stale skill name in required-skills table
  .claude/commands/autopilot.md
Due: none

refactor(frontend): extract dayShortKey/dayLongKey i18n helper (#121)
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-23-day-key-helper.md
  docs/superpowers/specs/2026-04-23-day-key-helper-design.md
  frontend/CLAUDE.md
  frontend/src/features/rooms/room-availability-grid.tsx
  frontend/src/features/teachers/teacher-availability-grid.tsx
  frontend/src/features/week-schemes/time-blocks-table.tsx
  frontend/src/features/week-schemes/week-schemes-page.tsx
  frontend/src/i18n/day-keys.test.ts
  frontend/src/i18n/day-keys.ts
Due: biome-check, frontend-typecheck

docs(frontend): scope browser-verification rule to behavior-changing UI
  frontend/CLAUDE.md
Due: none

chore(settings): allowlist chrome-devtools read-only MCP + fix autopilot skill name (#122)
  .claude/commands/autopilot.md
  .claude/settings.json
  frontend/CLAUDE.md
Due: none

docs: add frontend schedule view design spec
  docs/superpowers/specs/2026-04-23-frontend-schedule-view-design.md
Due: none

docs: add frontend schedule view implementation plan
  docs/superpowers/plans/2026-04-23-frontend-schedule-view.md
Due: none

chore(frontend): regenerate api-types for schedule endpoints
  frontend/src/lib/api-types.ts
Due: biome-check, frontend-typecheck

feat(frontend): add schedule feature hooks and MSW coverage
  frontend/src/features/schedule/hooks.test.tsx
  frontend/src/features/schedule/hooks.ts
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

feat(frontend): add schedule view with class picker and grid
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/features/schedule/schedule-grid.test.tsx
  frontend/src/features/schedule/schedule-grid.tsx
  frontend/src/features/schedule/schedule-page.test.tsx
  frontend/src/features/schedule/schedule-page.tsx
  frontend/src/features/schedule/schedule-status.tsx
  frontend/src/features/schedule/schedule-toolbar.test.tsx
  frontend/src/features/schedule/schedule-toolbar.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/routes/_authed.schedule.tsx
Due: biome-check, frontend-typecheck

docs: close sprint step 1 and log schedule follow-ups
  docs/superpowers/OPEN_THINGS.md
Due: none

docs: revise CLAUDE.md with schedule-view learnings
  .claude/CLAUDE.md
  frontend/CLAUDE.md
Due: none

docs(autopilot): auto-apply CLAUDE.md revisions without user approval gate
  .claude/commands/autopilot.md
Due: none

feat(frontend): add schedule view with class picker and grid (#124)
  .claude/CLAUDE.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-23-frontend-schedule-view.md
  docs/superpowers/specs/2026-04-23-frontend-schedule-view-design.md
  frontend/CLAUDE.md
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/features/schedule/hooks.test.tsx
  frontend/src/features/schedule/hooks.ts
  frontend/src/features/schedule/schedule-grid.test.tsx
  frontend/src/features/schedule/schedule-grid.tsx
  frontend/src/features/schedule/schedule-page.test.tsx
  frontend/src/features/schedule/schedule-page.tsx
  frontend/src/features/schedule/schedule-status.tsx
  frontend/src/features/schedule/schedule-toolbar.test.tsx
  frontend/src/features/schedule/schedule-toolbar.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/lib/api-types.ts
  frontend/src/routes/_authed.schedule.tsx
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

docs(autopilot): auto-apply CLAUDE.md revisions without user approval gate (#123)
  .claude/commands/autopilot.md
Due: none

docs: add design.md adoption spec
  docs/superpowers/specs/2026-04-24-design-md-adoption-design.md
Due: none

docs: add design.md adoption plan
  docs/superpowers/plans/2026-04-24-design-md-adoption.md
Due: none

docs(design): add frontend/DESIGN.md capturing PK visual identity
  docs/adr/0012-design-md-canonical-artifact.md
  docs/adr/README.md
  docs/superpowers/OPEN_THINGS.md
  frontend/CLAUDE.md
  frontend/DESIGN.md
Due: none

chore(frontend): add @google/design.md devDep and lint:design task
  frontend/package.json
  frontend/pnpm-lock.yaml
  mise.toml
Due: biome-check

docs(claude): extend ad-hoc python snippet pattern to cover coloraide
  .claude/CLAUDE.md
Due: none

feat(frontend): adopt google-labs-code/design.md for the PK visual identity (#125)
  .claude/CLAUDE.md
  docs/adr/0012-design-md-canonical-artifact.md
  docs/adr/README.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-24-design-md-adoption.md
  docs/superpowers/specs/2026-04-24-design-md-adoption-design.md
  frontend/CLAUDE.md
  frontend/DESIGN.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  mise.toml
Due: biome-check

docs: add grundschule seed design spec
  docs/superpowers/specs/2026-04-24-grundschule-seed-design.md
Due: none

docs: add grundschule seed implementation plan
  docs/superpowers/plans/2026-04-24-grundschule-seed.md
Due: none

test(backend): add demo_grundschule seed shape and rollback tests
  backend/src/klassenzeit_backend/seed/__init__.py
  backend/src/klassenzeit_backend/seed/demo_grundschule.py
  backend/tests/seed/__init__.py
  backend/tests/seed/test_demo_grundschule_rollback.py
  backend/tests/seed/test_demo_grundschule_shape.py
Due: none

test(backend): use begin_nested context manager for rollback test
  backend/tests/seed/test_demo_grundschule_rollback.py
Due: none

feat(backend): implement demo_grundschule seed module and CLI command
  backend/src/klassenzeit_backend/cli.py
  backend/src/klassenzeit_backend/seed/demo_grundschule.py
Due: none

fix(backend): extend grundschule grid to 7 periods for greedy-solver slack
  backend/src/klassenzeit_backend/seed/demo_grundschule.py
  backend/tests/seed/test_demo_grundschule_shape.py
Due: none

test(backend): add demo_grundschule seed solvability test
  backend/tests/seed/test_demo_grundschule_solvability.py
Due: none

docs: mark grundschule seed as shipped in OPEN_THINGS
  docs/superpowers/OPEN_THINGS.md
Due: none

docs(backend): capture session learnings and add seed:grundschule mise task
  README.md
  backend/CLAUDE.md
  mise.toml
Due: none

docs(autopilot): note subagent-overload recovery pattern
  .claude/commands/autopilot.md
Due: none
