Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Format Check
        entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      # Frontend hooks
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript type check
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

feat(frontend): lessons crud page with fk dropdowns (#100)
  .claude/CLAUDE.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-20-frontend-lesson-crud.md
  docs/superpowers/specs/2026-04-20-frontend-lesson-crud-design.md
  frontend/CLAUDE.md
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/features/lessons/hooks.ts
  frontend/src/features/lessons/lessons-dialogs.tsx
  frontend/src/features/lessons/lessons-page.tsx
  frontend/src/features/lessons/schema.ts
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/routes/_authed.lessons.tsx
  frontend/tests/lessons-page.test.tsx
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

docs: add curriculum crud design spec
  docs/superpowers/specs/2026-04-20-frontend-curriculum-crud-design.md
Due: none

docs: add curriculum crud implementation plan
  docs/superpowers/plans/2026-04-20-frontend-curriculum-crud.md
Due: none

test(frontend): add msw handlers for stundentafel crud
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

feat(frontend): add stundentafeln i18n keys
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
Due: biome-check

feat(frontend): add stundentafeln crud page
  frontend/src/features/stundentafeln/hooks.ts
  frontend/src/features/stundentafeln/schema.ts
  frontend/src/features/stundentafeln/stundentafeln-dialogs.tsx
  frontend/src/features/stundentafeln/stundentafeln-page.tsx
  frontend/src/routes/_authed.stundentafeln.tsx
Due: biome-check, frontend-typecheck

feat(frontend): link stundentafeln from sidebar and topbar
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/layout/app-shell.tsx
Due: biome-check, frontend-typecheck

test(frontend): cover stundentafeln page + nested entry flow
  frontend/tests/stundentafeln-page.test.tsx
Due: biome-check, frontend-typecheck

test(frontend): ratchet coverage baseline after stundentafeln
  .coverage-baseline-frontend
Due: none

docs: resolve stundentafel crud in open-things
  docs/superpowers/OPEN_THINGS.md
Due: none

docs(frontend): note stacked dialog + mutable MSW patterns
  frontend/CLAUDE.md
Due: none

feat(frontend): curriculum (stundentafel) crud with nested entries (#101)
  .coverage-baseline-frontend
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-20-frontend-curriculum-crud.md
  docs/superpowers/specs/2026-04-20-frontend-curriculum-crud-design.md
  frontend/CLAUDE.md
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/features/stundentafeln/hooks.ts
  frontend/src/features/stundentafeln/schema.ts
  frontend/src/features/stundentafeln/stundentafeln-dialogs.tsx
  frontend/src/features/stundentafeln/stundentafeln-page.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/routes/_authed.stundentafeln.tsx
  frontend/tests/msw-handlers.ts
  frontend/tests/stundentafeln-page.test.tsx
Due: biome-check, frontend-typecheck

chore: allowlist pnpm tsc and vitest runs
  .claude/settings.json
Due: none

chore: allowlist pnpm tsc and vitest runs (#102)
  .claude/settings.json
Due: none

docs: spec for subject color and simplified room suitability
  docs/superpowers/specs/2026-04-20-subject-color-and-simplified-suitability-design.md
Due: none

docs: implementation plan for subject color and room suitability editor
  docs/superpowers/plans/2026-04-20-subject-color-and-simplified-suitability.md
Due: none

feat(db): add subject color and drop room suitability_mode
  backend/alembic/versions/0c49a790a7cb_subject_color_and_simplify_suitability.py
  backend/src/klassenzeit_backend/db/models/room.py
  backend/src/klassenzeit_backend/db/models/subject.py
  backend/tests/scheduling/conftest.py
Due: none

feat(backend): persist subject color with palette-or-hex validation
  backend/src/klassenzeit_backend/scheduling/routes/subjects.py
  backend/src/klassenzeit_backend/scheduling/schemas/subject.py
  backend/tests/scheduling/test_subjects.py
Due: none

feat(backend): drop room suitability_mode in favor of single-mode inclusion
  backend/src/klassenzeit_backend/scheduling/routes/rooms.py
  backend/src/klassenzeit_backend/scheduling/schemas/room.py
  backend/tests/scheduling/test_rooms.py
Due: none

feat(backend): tighten room suitability PUT with typed 400 on missing subjects
  backend/tests/scheduling/test_rooms.py
Due: none

fix(backend): add required color field to subject fixtures and helper fns
  backend/tests/scheduling/conftest.py
  backend/tests/scheduling/test_lessons.py
  backend/tests/scheduling/test_stundentafeln.py
  backend/tests/scheduling/test_teachers.py
  backend/tests/testing/test_router.py
Due: none

chore(frontend): regenerate API types
  frontend/src/lib/api-types.ts
Due: biome-check, frontend-typecheck

feat(frontend): extend chart palette to 12 tokens
  frontend/src/styles/app.css
Due: none

feat(frontend): subject color resolution and stable auto-pick
  frontend/src/features/subjects/color.test.ts
  frontend/src/features/subjects/color.ts
Due: biome-check, frontend-typecheck

feat(frontend): subject color picker with 12-swatch palette and hex escape
  frontend/src/features/subjects/color-picker.test.tsx
  frontend/src/features/subjects/color-picker.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
Due: biome-check, frontend-typecheck

fix(frontend): remove suitability_mode from rooms UI and add color to subjects form
  frontend/src/features/rooms/rooms-dialogs.tsx
  frontend/src/features/rooms/rooms-page.tsx
  frontend/src/features/rooms/schema.ts
  frontend/src/features/subjects/schema.ts
  frontend/src/features/subjects/subjects-dialogs.tsx
Due: biome-check, frontend-typecheck

feat(frontend): wire subject color picker into create/edit dialog and list
  frontend/src/features/subjects/subjects-dialogs.tsx
  frontend/src/features/subjects/subjects-page.tsx
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

feat(frontend): reusable subject multi-picker for room suitability
  frontend/src/features/rooms/subject-multi-picker.test.tsx
  frontend/src/features/rooms/subject-multi-picker.tsx
Due: biome-check, frontend-typecheck

feat(frontend): room suitability schema, combined mutations, and MSW stubs
  frontend/src/features/rooms/hooks.ts
  frontend/src/features/rooms/schema.ts
  frontend/tests/msw-handlers.ts
  frontend/tests/setup.ts
Due: biome-check, frontend-typecheck

feat(frontend): room dialog with subject chip picker in place of mode selector
  frontend/src/features/rooms/rooms-dialogs.test.tsx
  frontend/src/features/rooms/rooms-dialogs.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
Due: biome-check, frontend-typecheck

feat(frontend): drop room mode column from list view
  frontend/src/features/rooms/schema.ts
Due: biome-check, frontend-typecheck

docs: ADR 0011 for subject color and simplified room suitability
  docs/adr/0011-subject-color-and-simplified-suitability.md
Due: none

docs: record subject color shipped and amend sub-resource editor notes
  docs/superpowers/OPEN_THINGS.md
Due: none

chore(frontend): ratchet coverage baseline after suitability editor
  .coverage-baseline-frontend
Due: none

feat: subject color and simplified room suitability (#103)
  .coverage-baseline-frontend
  backend/alembic/versions/0c49a790a7cb_subject_color_and_simplify_suitability.py
  backend/src/klassenzeit_backend/db/models/room.py
  backend/src/klassenzeit_backend/db/models/subject.py
  backend/src/klassenzeit_backend/scheduling/routes/rooms.py
  backend/src/klassenzeit_backend/scheduling/routes/subjects.py
  backend/src/klassenzeit_backend/scheduling/schemas/room.py
  backend/src/klassenzeit_backend/scheduling/schemas/subject.py
  backend/tests/scheduling/conftest.py
  backend/tests/scheduling/test_lessons.py
  backend/tests/scheduling/test_rooms.py
  backend/tests/scheduling/test_stundentafeln.py
  backend/tests/scheduling/test_subjects.py
  backend/tests/scheduling/test_teachers.py
  backend/tests/testing/test_router.py
  docs/adr/0011-subject-color-and-simplified-suitability.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-20-subject-color-and-simplified-suitability.md
  docs/superpowers/specs/2026-04-20-subject-color-and-simplified-suitability-design.md
  frontend/src/features/rooms/hooks.ts
  frontend/src/features/rooms/rooms-dialogs.test.tsx
  frontend/src/features/rooms/rooms-dialogs.tsx
  frontend/src/features/rooms/rooms-page.tsx
  frontend/src/features/rooms/schema.ts
  frontend/src/features/rooms/subject-multi-picker.test.tsx
  frontend/src/features/rooms/subject-multi-picker.tsx
  frontend/src/features/subjects/color-picker.test.tsx
  frontend/src/features/subjects/color-picker.tsx
  frontend/src/features/subjects/color.test.ts
  frontend/src/features/subjects/color.ts
  frontend/src/features/subjects/schema.ts
  frontend/src/features/subjects/subjects-dialogs.tsx
  frontend/src/features/subjects/subjects-page.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/lib/api-types.ts
  frontend/src/styles/app.css
  frontend/tests/msw-handlers.ts
  frontend/tests/setup.ts
Due: biome-check, frontend-typecheck

docs: add sub-resource editors design spec
  docs/superpowers/specs/2026-04-20-sub-resource-editors-design.md
Due: none

docs: add sub-resource editors implementation plan
  docs/superpowers/plans/2026-04-20-sub-resource-editors.md
Due: none

refactor(frontend): move SubjectMultiPicker from rooms to subjects feature
  frontend/src/features/rooms/rooms-dialogs.tsx
  frontend/src/features/subjects/subject-multi-picker.test.tsx
  frontend/src/features/subjects/subject-multi-picker.tsx
Due: biome-check, frontend-typecheck

feat(frontend): add week-scheme time blocks editor
  frontend/src/features/week-schemes/hooks.ts
  frontend/src/features/week-schemes/schema.ts
  frontend/src/features/week-schemes/time-blocks-table.test.tsx
  frontend/src/features/week-schemes/time-blocks-table.tsx
  frontend/src/features/week-schemes/week-schemes-dialogs.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/tests/msw-handlers.ts
  frontend/tests/setup.ts
Due: biome-check, frontend-typecheck

feat(frontend): add teacher qualifications editor
  frontend/src/features/teachers/hooks.ts
  frontend/src/features/teachers/teacher-qualifications-editor.test.tsx
  frontend/src/features/teachers/teacher-qualifications-editor.tsx
  frontend/src/features/teachers/teachers-dialogs.tsx
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/tests/msw-handlers.ts
  frontend/tests/setup.ts
Due: biome-check, frontend-typecheck
