Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Format Check
        entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      # Frontend hooks
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript type check
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

feat(scheduler): honour ConstraintWeights for soft constraints
  scheduler/src/constraints.rs
Due: none

feat(scheduler): softenable hard constraints via ConstraintWeights
  scheduler/src/constraints.rs
Due: none

test(scheduler): parameterise scoring prop tests over ConstraintWeights
  scheduler/tests/proptest_scoring.rs
Due: none

feat(backend): add school_scheduler_settings migration
  backend/migration/src/lib.rs
  backend/migration/src/m20250406_000001_scheduler_settings.rs
Due: none

feat(backend): add school_scheduler_settings entity
  backend/src/models/_entities/mod.rs
  backend/src/models/_entities/prelude.rs
  backend/src/models/_entities/school_scheduler_settings.rs
Due: none

feat(backend): scheduler_settings service with DTO and validation
  Cargo.lock
  backend/Cargo.toml
  backend/src/services/mod.rs
  backend/src/services/scheduler_settings.rs
Due: none

feat(backend): GET/PUT scheduler-settings endpoints
  backend/src/app.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/scheduler_settings.rs
Due: none

test(backend): integration tests for scheduler-settings endpoints
  backend/tests/requests/mod.rs
  backend/tests/requests/scheduler_settings.rs
Due: none

feat(backend): load constraint weights into ScheduleInput
  backend/src/services/scheduler.rs
Due: none

feat(frontend): add ConstraintWeightsDto and SchedulerSettingsResponse types
  frontend/src/lib/types.ts
Due: biome-check, frontend-typecheck

i18n(frontend): scheduler settings tab keys
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check

feat(frontend): SchedulerTab component
  frontend/bun.lock
  frontend/package.json
  frontend/src/app/[locale]/schools/[id]/settings/components/scheduler-tab.tsx
  frontend/src/components/ui/radio-group.tsx
Due: biome-check, frontend-typecheck

feat(frontend): register scheduler tab in settings page
  frontend/src/app/[locale]/schools/[id]/settings/page.tsx
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check, frontend-typecheck

test(frontend): SchedulerTab component tests
  frontend/src/__tests__/scheduler-tab.test.tsx
Due: biome-check, frontend-typecheck

docs: mark 1e PR1 complete, update next-steps
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: spec for preference editors (4a + 4b)
  docs/superpowers/specs/2026-04-06-preference-editors-design.md
Due: none

docs: implementation plan for preference editors (PR2)
  docs/superpowers/plans/2026-04-06-preference-editors.md
Due: none

feat(backend): teacher availabilities GET/PUT endpoints
  backend/src/app.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/teacher_availabilities.rs
Due: none

test(backend): integration tests for teacher availabilities endpoints
  backend/tests/requests/mod.rs
  backend/tests/requests/teacher_availabilities.rs
Due: none

feat(backend): room suitabilities GET/PUT endpoints
  backend/src/app.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/room_suitabilities.rs
Due: none

test(backend): integration tests for room suitabilities endpoints
  backend/tests/requests/mod.rs
  backend/tests/requests/room_suitabilities.rs
Due: none

feat(frontend): DTO types for preference editors
  frontend/src/lib/types.ts
Due: biome-check, frontend-typecheck

i18n(frontend): keys for preference editors
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check

feat(frontend): TeacherAvailabilityDialog component
  frontend/src/app/[locale]/schools/[id]/settings/components/teacher-availability-dialog.tsx
Due: biome-check, frontend-typecheck

feat(frontend): RoomSuitabilityDialog component
  frontend/src/app/[locale]/schools/[id]/settings/components/room-suitability-dialog.tsx
  frontend/src/components/ui/checkbox.tsx
Due: biome-check, frontend-typecheck

feat(frontend): wire preference dialogs into teachers/rooms tabs
  frontend/src/app/[locale]/schools/[id]/settings/components/rooms-tab.tsx
  frontend/src/app/[locale]/schools/[id]/settings/components/teachers-tab.tsx
Due: biome-check, frontend-typecheck

test(frontend): preference editor component tests
  frontend/src/__tests__/room-suitability-dialog.test.tsx
  frontend/src/__tests__/teacher-availability-dialog.test.tsx
Due: biome-check, frontend-typecheck

docs: mark 4a/4b complete
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: prioritize Tier 2 UX polish, defer prod deployment to end
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: spec for onboarding wizard (2a)
  docs/superpowers/specs/2026-04-06-onboarding-wizard-design.md
Due: none

docs: implementation plan for onboarding wizard (2a)
  docs/superpowers/plans/2026-04-06-onboarding-wizard.md
Due: none

feat(backend): add example_data service for onboarding wizard
  backend/src/services/example_data.rs
  backend/src/services/mod.rs
Due: none

feat(backend): POST /api/schools/{id}/load-example endpoint
  backend/src/app.rs
  backend/src/controllers/example_data.rs
  backend/src/controllers/mod.rs
  backend/tests/requests/example_data.rs
  backend/tests/requests/mod.rs
Due: none

test(backend): integration tests for /load-example endpoint
  backend/tests/requests/example_data.rs
Due: none

test(backend): pin exact status for cross-tenant load-example test
  backend/tests/requests/example_data.rs
Due: none

feat(frontend): useOnboardingProgress hook
  frontend/src/__tests__/use-onboarding-progress.test.tsx
  frontend/src/hooks/use-onboarding-progress.ts
Due: biome-check, frontend-typecheck

fix(frontend): ignore stale fetches in useOnboardingProgress
  frontend/src/__tests__/use-onboarding-progress.test.tsx
  frontend/src/hooks/use-onboarding-progress.ts
Due: biome-check, frontend-typecheck

feat(frontend): wizard step registry
  frontend/src/components/onboarding/wizard-steps.tsx
Due: biome-check, frontend-typecheck

feat(frontend): LoadExampleButton for onboarding wizard
  frontend/src/__tests__/load-example-button.test.tsx
  frontend/src/components/onboarding/load-example-button.tsx
Due: biome-check, frontend-typecheck

feat(frontend): onboarding wizard dialog + shell
  frontend/src/__tests__/wizard-dialog.test.tsx
  frontend/src/components/onboarding/wizard-dialog.tsx
  frontend/src/components/onboarding/wizard-shell.tsx
Due: biome-check, frontend-typecheck
