Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

spotless-check:
  name: Spotless Format Check
  entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
  language: system
  pass_filenames: false

checkstyle:
  name: Checkstyle
  entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
  language: system
  pass_filenames: false

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix(tests): make engine fixture function-scoped to avoid loop mismatch
  backend/tests/conftest.py
Due: none

fix(tests): use function-scoped asyncio loops for CI stability
  pyproject.toml
Due: none

fix(tests): run alembic migrations in a subprocess
  backend/tests/conftest.py
Due: none

fix(db): switch from asyncpg to psycopg3 driver
  backend/.env.example
  backend/.env.test
  backend/pyproject.toml
  backend/tests/core/test_settings.py
  uv.lock
Due: none

docs: add frontend scaffolding design spec
  docs/superpowers/specs/2026-04-17-frontend-scaffolding-design.md
Due: none

docs: add frontend scaffolding implementation plan
  docs/superpowers/plans/2026-04-17-frontend-scaffolding.md
Due: none

build(mise): pin node + pnpm and add fe:* tasks
  mise.toml
Due: none

chore(frontend): scaffold package manifest, configs, and deps
  frontend/.gitignore
  frontend/README.md
  frontend/biome.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: biome-check

fix(scripts): tighten unique-function check regex for JS/TS
  frontend/biome.json
  frontend/index.html
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/features/subjects/hooks.ts
  frontend/src/features/subjects/schema.ts
  frontend/src/features/subjects/subjects-page.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/_authed.index.tsx
  frontend/src/routes/_authed.subjects.tsx
  frontend/src/routes/_authed.tsx
  frontend/src/routes/login.tsx
  frontend/src/styles/app.css
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  scripts/check_unique_fns.py
  scripts/dump_openapi.py
  scripts/gen_frontend_types.sh
Due: biome-check, frontend-typecheck

test(frontend): vitest + msw harness with subjects page test
  frontend/src/lib/api-client.ts
  frontend/tests/msw-handlers.ts
  frontend/tests/render-helpers.tsx
  frontend/tests/setup.ts
  frontend/tests/subjects-page.test.tsx
  frontend/vitest.config.ts
Due: biome-check, frontend-typecheck

docs: frontend scaffolding architecture notes, ADR 0007, CI + lefthook integration
  .config/lefthook.yaml
  .github/workflows/frontend-ci.yml
  README.md
  docs/adr/0007-react-vite-spa-frontend.md
  docs/adr/README.md
  docs/architecture/overview.md
  docs/superpowers/OPEN_THINGS.md
Due: none

test(scripts): update unique-fn tests to match tightened regex
  scripts/tests/test_check_unique_fns.py
Due: none

docs(claude): frontend commands, deps, and coding standards
  .claude/CLAUDE.md
Due: none

build(mise): pin lefthook to 1.11.14 to avoid broken default-base fallback
  mise.toml
Due: none

ci(frontend): build before typecheck so routeTree.gen.ts exists
  .github/workflows/frontend-ci.yml
Due: none

feat(claude): add /autopilot slash command for end-to-end feature flow
  .claude/CLAUDE.md
  .claude/commands/autopilot.md
Due: none

docs(autopilot): reference claude-md-management skills for doc finalization
  .claude/commands/autopilot.md
Due: none

docs(autopilot): add less-permission-prompts scan to self-review
  .claude/commands/autopilot.md
Due: none

feat(claude): autopilot slash command for end-to-end feature flow (#78)
  .claude/CLAUDE.md
  .claude/commands/autopilot.md
Due: none

docs: add frontend theming + i18n + coverage ratchet design spec
  docs/superpowers/specs/2026-04-17-frontend-theming-i18n-design.md
Due: none

docs: add frontend theming + i18n implementation plan
  docs/superpowers/plans/2026-04-17-frontend-theming-i18n.md
Due: none

style(frontend): port oklch token palette with dark variant
  frontend/src/styles/app.css
Due: none

feat(frontend): add dark mode toggle via next-themes
  .gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/main.tsx
  frontend/tests/setup.ts
  frontend/tests/theme-toggle.test.tsx
Due: biome-check, frontend-typecheck

feat(frontend): add i18n scaffolding with en+de locales
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/i18n/config.ts
  frontend/src/i18n/init.ts
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/types.d.ts
  frontend/src/main.tsx
  frontend/tests/i18n.test.tsx
Due: biome-check, frontend-typecheck

feat(frontend): translate visible strings to en + de with language switcher
  frontend/src/components/language-switcher.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/features/subjects/subjects-page.tsx
  frontend/src/routes/_authed.index.tsx
  frontend/src/routes/login.tsx
  frontend/tests/language-switcher.test.tsx
  frontend/tests/subjects-page.test.tsx
Due: biome-check, frontend-typecheck

ci(frontend): add coverage ratchet with 50% floor
  .coverage-baseline-frontend
  .github/workflows/frontend-ci.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vitest.config.ts
  mise.toml
Due: biome-check, frontend-typecheck

docs: record theming/i18n decisions and update open things
  .claude/CLAUDE.md
  README.md
  docs/adr/0008-frontend-theming-i18n-ratchet.md
  docs/adr/README.md
  docs/superpowers/OPEN_THINGS.md
Due: none

docs(autopilot): make skill invocations mandatory with a pre-PR audit
  .claude/CLAUDE.md
  .claude/commands/autopilot.md
Due: none

docs(autopilot): make skill invocations mandatory with a pre-PR audit (#80)
  .claude/CLAUDE.md
  .claude/commands/autopilot.md
Due: none

docs(frontend): add nested CLAUDE.md with anti-patterns and layout
  frontend/CLAUDE.md
Due: none

feat(frontend): theming, i18n, dark mode, and coverage ratchet (#79)
  .claude/CLAUDE.md
  .coverage-baseline-frontend
  .github/workflows/frontend-ci.yml
  .gitignore
  README.md
  docs/adr/0008-frontend-theming-i18n-ratchet.md
  docs/adr/README.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-17-frontend-theming-i18n.md
  docs/superpowers/specs/2026-04-17-frontend-theming-i18n-design.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/language-switcher.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/features/subjects/subjects-page.tsx
  frontend/src/i18n/config.ts
  frontend/src/i18n/init.ts
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/types.d.ts
  frontend/src/main.tsx
  frontend/src/routes/_authed.index.tsx
  frontend/src/routes/login.tsx
  frontend/src/styles/app.css
  frontend/tests/i18n.test.tsx
  frontend/tests/language-switcher.test.tsx
  frontend/tests/setup.ts
  frontend/tests/subjects-page.test.tsx
  frontend/tests/theme-toggle.test.tsx
  frontend/vitest.config.ts
  mise.toml
Due: biome-check, frontend-typecheck

docs: add entity CRUD pages batch 1 design spec
  docs/superpowers/specs/2026-04-17-frontend-entity-crud-pages-design.md
Due: none

docs: correct spec to reflect existing MSW test setup
  docs/superpowers/specs/2026-04-17-frontend-entity-crud-pages-design.md
Due: none

docs: add entity CRUD pages batch 1 implementation plan
  docs/superpowers/plans/2026-04-17-frontend-entity-crud-pages.md
Due: none

chore(frontend): add Textarea primitive
  frontend/src/components/ui/textarea.tsx
Due: biome-check, frontend-typecheck

chore(frontend): add Select primitive and @radix-ui/react-select
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ui/select.tsx
Due: biome-check, frontend-typecheck

test(frontend): add MSW seed data for rooms, teachers, week-schemes
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

feat(frontend): add rooms CRUD page
  frontend/src/features/rooms/hooks.ts
  frontend/src/features/rooms/rooms-page.tsx
  frontend/src/features/rooms/schema.ts
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
  frontend/src/routes/_authed.rooms.tsx
  frontend/tests/rooms-page.test.tsx
Due: biome-check, frontend-typecheck

Path conditions:
  spotless-check: any of: \.java$
  checkstyle: any of: \.java$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
