Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

spotless-check:
  name: Spotless Format Check
  entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
  language: system
  pass_filenames: false

checkstyle:
  name: Checkstyle
  entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
  language: system
  pass_filenames: false

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

Track project status in docs/STATUS.md instead of CLAUDE.md
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

Add Step 5b: i18n (DE/EN) to roadmap
  docs/superpowers/next-steps.md
Due: none

Add Step 5b: i18n (DE/EN) design spec
  docs/superpowers/specs/2026-04-03-i18n-design.md
Due: none

Add i18n implementation plan
  docs/superpowers/plans/2026-04-03-i18n.md
Due: none

Install next-intl and add i18n config
  frontend/bun.lock
  frontend/next.config.ts
  frontend/package.json
  frontend/src/i18n/config.ts
  frontend/src/i18n/request.ts
Due: biome-check, frontend-typecheck

Add DE and EN translation files
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check

Restructure routes under [locale] segment
  frontend/src/app/[locale]/layout.tsx
  frontend/src/app/[locale]/schools/[id]/layout.tsx
  frontend/src/app/[locale]/schools/[id]/members/page.tsx
  frontend/src/app/[locale]/schools/[id]/page.tsx
  frontend/src/app/[locale]/schools/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Due: biome-check, frontend-typecheck

Add language switcher component
  frontend/src/components/language-switcher.tsx
Due: biome-check, frontend-typecheck

Translate schools list page
  frontend/src/app/[locale]/schools/page.tsx
Due: biome-check, frontend-typecheck

Translate school sidebar layout
  frontend/src/app/[locale]/schools/[id]/layout.tsx
Due: biome-check, frontend-typecheck

Translate school dashboard page
  frontend/src/app/[locale]/schools/[id]/page.tsx
Due: biome-check, frontend-typecheck

Translate members page
  frontend/src/app/[locale]/schools/[id]/members/page.tsx
Due: biome-check, frontend-typecheck

Translate keycloak provider
  frontend/src/providers/keycloak-provider.tsx
Due: biome-check, frontend-typecheck

Fix review issues: locale-aware dates, robust switcher, translated errors
  frontend/src/app/[locale]/schools/[id]/members/page.tsx
  frontend/src/app/[locale]/schools/[id]/page.tsx
  frontend/src/app/[locale]/schools/page.tsx
  frontend/src/components/language-switcher.tsx
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check, frontend-typecheck

Add i18n support (DE/EN) (#21)
  docs/superpowers/plans/2026-04-03-i18n.md
  docs/superpowers/specs/2026-04-03-i18n-design.md
  frontend/bun.lock
  frontend/next.config.ts
  frontend/package.json
  frontend/src/app/[locale]/layout.tsx
  frontend/src/app/[locale]/schools/[id]/layout.tsx
  frontend/src/app/[locale]/schools/[id]/members/page.tsx
  frontend/src/app/[locale]/schools/[id]/page.tsx
  frontend/src/app/[locale]/schools/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/language-switcher.tsx
  frontend/src/i18n/config.ts
  frontend/src/i18n/request.ts
  frontend/src/messages/de.json
  frontend/src/messages/en.json
  frontend/src/providers/keycloak-provider.tsx
Due: biome-check, frontend-typecheck

Update docs: mark Step 5b i18n as complete
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

Update docs: mark Step 5b i18n as complete (#22)
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

Add domain tables migration design spec
  docs/superpowers/specs/2026-04-03-domain-tables-design.md
Due: none

Add domain tables implementation plan
  docs/superpowers/plans/2026-04-03-domain-tables.md
Due: none

Add domain tables migration (11 tables)
  backend/migration/src/lib.rs
  backend/migration/src/m20250403_000002_domain_tables.rs
Due: none

Add SeaORM entities and model wrappers for all 11 domain tables
  backend/src/models/_entities/lessons.rs
  backend/src/models/_entities/mod.rs
  backend/src/models/_entities/prelude.rs
  backend/src/models/_entities/room_subject_suitabilities.rs
  backend/src/models/_entities/rooms.rs
  backend/src/models/_entities/school_classes.rs
  backend/src/models/_entities/school_years.rs
  backend/src/models/_entities/schools.rs
  backend/src/models/_entities/subjects.rs
  backend/src/models/_entities/teacher_availabilities.rs
  backend/src/models/_entities/teacher_subject_qualifications.rs
  backend/src/models/_entities/teachers.rs
  backend/src/models/_entities/terms.rs
  backend/src/models/_entities/time_slots.rs
  backend/src/models/lessons.rs
  backend/src/models/mod.rs
  backend/src/models/room_subject_suitabilities.rs
  backend/src/models/rooms.rs
  backend/src/models/school_classes.rs
  backend/src/models/school_years.rs
  backend/src/models/subjects.rs
  backend/src/models/teacher_availabilities.rs
  backend/src/models/teacher_subject_qualifications.rs
  backend/src/models/teachers.rs
  backend/src/models/terms.rs
  backend/src/models/time_slots.rs
Due: none

fix: use 'every' as default week_pattern (matches CHECK constraint)
  backend/src/models/lessons.rs
Due: none

fix: add NOT NULL to max_hours_per_week, add partial unique index on teacher email
  backend/migration/src/m20250403_000002_domain_tables.rs
Due: none

Add integration tests for all domain tables
  backend/tests/models/domain_tables.rs
  backend/tests/models/mod.rs
Due: none

Add ERD and constraint documentation for database schema
  docs/src/SUMMARY.md
  docs/src/database-schema.md
Due: none

test: add constraint violation tests for unique abbreviation and lesson collision
  backend/tests/models/domain_tables.rs
Due: none

Add domain tables migration and ERD documentation (#23)
  backend/migration/src/lib.rs
  backend/migration/src/m20250403_000002_domain_tables.rs
  backend/src/models/_entities/lessons.rs
  backend/src/models/_entities/mod.rs
  backend/src/models/_entities/prelude.rs
  backend/src/models/_entities/room_subject_suitabilities.rs
  backend/src/models/_entities/rooms.rs
  backend/src/models/_entities/school_classes.rs
  backend/src/models/_entities/school_years.rs
  backend/src/models/_entities/schools.rs
  backend/src/models/_entities/subjects.rs
  backend/src/models/_entities/teacher_availabilities.rs
  backend/src/models/_entities/teacher_subject_qualifications.rs
  backend/src/models/_entities/teachers.rs
  backend/src/models/_entities/terms.rs
  backend/src/models/_entities/time_slots.rs
  backend/src/models/lessons.rs
  backend/src/models/mod.rs
  backend/src/models/room_subject_suitabilities.rs
  backend/src/models/rooms.rs
  backend/src/models/school_classes.rs
  backend/src/models/school_years.rs
  backend/src/models/subjects.rs
  backend/src/models/teacher_availabilities.rs
  backend/src/models/teacher_subject_qualifications.rs
  backend/src/models/teachers.rs
  backend/src/models/terms.rs
  backend/src/models/time_slots.rs
  backend/tests/models/domain_tables.rs
  backend/tests/models/mod.rs
  docs/src/SUMMARY.md
  docs/src/database-schema.md
  docs/superpowers/plans/2026-04-03-domain-tables.md
  docs/superpowers/specs/2026-04-03-domain-tables-design.md
Due: none

docs: mark domain tables migration as complete, update next steps
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

docs: mark domain tables migration as complete, update next steps (#24)
  docs/STATUS.md
  docs/superpowers/next-steps.md
Due: none

Add scheduler integration design spec
  docs/superpowers/specs/2026-04-03-scheduler-integration-design.md
Due: none

Add scheduler integration implementation plan
  docs/superpowers/plans/2026-04-03-scheduler-integration.md
Due: none

refactor(scheduler): update types to match spec — add timeslots, requirements, teacher availability
  scheduler/src/types.rs
  scheduler/tests/basic.rs
Due: none

feat(scheduler): implement greedy most-constrained-first solver
  scheduler/src/lib.rs
  scheduler/tests/basic.rs
Due: none

feat: add curriculum_entries table — maps class+subject+term to hours_per_week
  backend/migration/src/lib.rs
  backend/migration/src/m20250403_000003_curriculum_entries.rs
  backend/src/models/_entities/curriculum_entries.rs
  backend/src/models/_entities/mod.rs
  backend/src/models/_entities/prelude.rs
  backend/src/models/curriculum_entries.rs
  backend/src/models/mod.rs
Due: none

feat: add curriculum_entries CRUD endpoints
  backend/src/app.rs
  backend/src/controllers/curriculum.rs
  backend/src/controllers/mod.rs
Due: none

feat: add scheduler service — shared state and DB-to-scheduler mapping layer
  Cargo.lock
  backend/Cargo.toml
  backend/src/lib.rs
  backend/src/services/mod.rs
  backend/src/services/scheduler.rs
Due: none

feat: add scheduler background worker with solve job state management
  backend/src/app.rs
  backend/src/workers/mod.rs
  backend/src/workers/scheduler.rs
Due: none

feat: add scheduler API endpoints — solve, status, solution, apply, discard
  backend/src/app.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/scheduler.rs
Due: none

feat(frontend): add types and i18n for curriculum and scheduler
  frontend/src/lib/types.ts
  frontend/src/messages/de.json
  frontend/src/messages/en.json
Due: biome-check, frontend-typecheck

feat(frontend): add curriculum management page
  frontend/src/app/[locale]/schools/[id]/curriculum/page.tsx
  frontend/src/app/[locale]/schools/[id]/layout.tsx
Due: biome-check, frontend-typecheck

Path conditions:
  spotless-check: any of: \.java$
  checkstyle: any of: \.java$
  biome-check: any of: ^frontend/.*\.(ts|tsx|js|jsx|json)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
