Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Format Check
        entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      # Frontend hooks
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript type check
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

docs: record init-SQL cross-repo coupling follow-up
  docs/superpowers/OPEN_THINGS.md
Due: none

docs(deploy): add staging runbook
  deploy/README.md
Due: none

docs: point README at deploy runbook and ignore .env.staging
  .gitignore
  README.md
Due: none

docs(claude-md): record deploy topology and Dockerfile context rules
  .claude/CLAUDE.md
Due: none

chore(claude): allowlist routine uv-run and mise db tasks
  .claude/settings.json
Due: none

ci: auto-deploy staging via self-hosted runner after images publish
  .claude/CLAUDE.md
  .github/workflows/deploy-images.yml
  deploy/README.md
  docs/adr/0009-deployment-topology.md
Due: none

build(deploy): ship staging dev deployment via ghcr (#88)
  .claude/CLAUDE.md
  .claude/settings.json
  .github/workflows/deploy-images.yml
  .gitignore
  README.md
  backend/.dockerignore
  backend/Dockerfile
  deploy/.env.staging.example
  deploy/README.md
  deploy/compose.yaml
  docker/postgres/init-databases.sql
  docs/adr/0009-deployment-topology.md
  docs/adr/README.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-19-dev-deployment.md
  docs/superpowers/specs/2026-04-19-dev-deployment-design.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

fix(backend): copy workspace Cargo manifest into builder stage
  backend/Dockerfile
Due: none

fix(backend): copy workspace Cargo manifest into builder stage (#89)
  backend/Dockerfile
Due: none

fix(ci): bootstrap kz-deploy dir from repo checkout on each deploy
  .github/workflows/deploy-images.yml
  deploy/README.md
Due: none

fix(ci): bootstrap kz-deploy dir from repo checkout on each deploy (#90)
  .github/workflows/deploy-images.yml
  deploy/README.md
Due: none

fix(backend): install workspace packages non-editable so runtime venv is self-contained
  backend/Dockerfile
Due: none

fix(backend): install workspace packages non-editable so runtime venv is self-contained (#91)
  backend/Dockerfile
Due: none

docs: expand open-things entry for backend /api prefix refactor
  docs/superpowers/OPEN_THINGS.md
Due: none

docs: expand open-things entry for backend /api prefix refactor (#92)
  docs/superpowers/OPEN_THINGS.md
Due: none

docs: add backend /api prefix design spec
  docs/superpowers/specs/2026-04-19-backend-api-prefix-design.md
Due: none

docs: add backend /api prefix implementation plan
  docs/superpowers/plans/2026-04-19-backend-api-prefix.md
Due: none

refactor(backend): mount API under /api prefix
  backend/src/klassenzeit_backend/main.py
  backend/tests/auth/test_admin.py
  backend/tests/auth/test_dependencies.py
  backend/tests/auth/test_login.py
  backend/tests/auth/test_me.py
  backend/tests/conftest.py
  backend/tests/scheduling/test_lessons.py
  backend/tests/scheduling/test_rooms.py
  backend/tests/scheduling/test_school_classes.py
  backend/tests/scheduling/test_stundentafeln.py
  backend/tests/scheduling/test_subjects.py
  backend/tests/scheduling/test_teachers.py
  backend/tests/scheduling/test_week_schemes.py
  backend/tests/test_health.py
  backend/tests/testing/test_router.py
Due: none

refactor(frontend): migrate api client and proxy to /api prefix
  frontend/src/features/rooms/hooks.ts
  frontend/src/features/school-classes/hooks.ts
  frontend/src/features/stundentafeln/hooks.ts
  frontend/src/features/subjects/hooks.ts
  frontend/src/features/teachers/hooks.ts
  frontend/src/features/week-schemes/hooks.ts
  frontend/src/lib/auth.ts
  frontend/src/routes/login.tsx
  frontend/tests/msw-handlers.ts
  frontend/vite.config.ts
Due: biome-check, frontend-typecheck

build(deploy): hit /api/health in staging compose and runbook
  deploy/README.md
  deploy/compose.yaml
Due: none

docs: document uniform /api prefix and retire related open items
  docs/adr/0010-api-prefix.md
  docs/adr/README.md
  docs/architecture/authentication.md
  docs/architecture/overview.md
  docs/superpowers/OPEN_THINGS.md
Due: none

refactor(backend): mount API under /api prefix (#93)
  backend/src/klassenzeit_backend/main.py
  backend/tests/auth/test_admin.py
  backend/tests/auth/test_dependencies.py
  backend/tests/auth/test_login.py
  backend/tests/auth/test_me.py
  backend/tests/conftest.py
  backend/tests/scheduling/test_lessons.py
  backend/tests/scheduling/test_rooms.py
  backend/tests/scheduling/test_school_classes.py
  backend/tests/scheduling/test_stundentafeln.py
  backend/tests/scheduling/test_subjects.py
  backend/tests/scheduling/test_teachers.py
  backend/tests/scheduling/test_week_schemes.py
  backend/tests/test_health.py
  backend/tests/testing/test_router.py
  deploy/README.md
  deploy/compose.yaml
  docs/adr/0010-api-prefix.md
  docs/adr/README.md
  docs/architecture/authentication.md
  docs/architecture/overview.md
  docs/superpowers/OPEN_THINGS.md
  docs/superpowers/plans/2026-04-19-backend-api-prefix.md
  docs/superpowers/specs/2026-04-19-backend-api-prefix-design.md
  frontend/src/features/rooms/hooks.ts
  frontend/src/features/school-classes/hooks.ts
  frontend/src/features/stundentafeln/hooks.ts
  frontend/src/features/subjects/hooks.ts
  frontend/src/features/teachers/hooks.ts
  frontend/src/features/week-schemes/hooks.ts
  frontend/src/lib/auth.ts
  frontend/src/routes/login.tsx
  frontend/tests/msw-handlers.ts
  frontend/vite.config.ts
Due: biome-check, frontend-typecheck

fix(frontend): default border color and dark-mode font-mono
  frontend/src/styles/app.css
Due: none

fix(frontend): default border color and dark-mode font-mono (#94)
  frontend/src/styles/app.css
Due: none

docs: add frontend lesson crud design spec
  docs/superpowers/specs/2026-04-20-frontend-lesson-crud-design.md
Due: none

docs: add lessons crud implementation plan
  docs/superpowers/plans/2026-04-20-frontend-lesson-crud.md
Due: none

test(frontend): add msw handlers and seed for lessons
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

feat(frontend): add lessons api hooks
  frontend/src/features/lessons/hooks.ts
Due: biome-check, frontend-typecheck

feat(frontend): add lessons form schema
  frontend/src/features/lessons/schema.ts
Due: biome-check, frontend-typecheck

feat(i18n): add lessons namespace
  frontend/src/i18n/locales/de.json
  frontend/src/i18n/locales/en.json
Due: biome-check

feat(frontend): add lessons page and dialogs
  frontend/src/features/lessons/lessons-dialogs.tsx
  frontend/src/features/lessons/lessons-page.tsx
Due: biome-check, frontend-typecheck

feat(frontend): wire lessons route and breadcrumb
  frontend/src/components/layout/app-shell.tsx
  frontend/src/routes/_authed.lessons.tsx
Due: biome-check, frontend-typecheck

feat(frontend): enable lessons sidebar link
  frontend/src/components/app-sidebar.tsx
Due: biome-check, frontend-typecheck

fix(frontend): use min(1) instead of uuid() for lesson fk fields
  frontend/src/features/lessons/schema.ts
Due: biome-check, frontend-typecheck

test(frontend): add lessons page tests
  frontend/tests/lessons-page.test.tsx
Due: biome-check, frontend-typecheck

docs: update open-things and claude-md for lessons crud
  docs/superpowers/OPEN_THINGS.md
  frontend/CLAUDE.md
Due: none

docs(frontend): note single-test-file command pattern
  frontend/CLAUDE.md
Due: none

fix(frontend): guard against empty initialLessons in patch handler
  frontend/tests/msw-handlers.ts
Due: biome-check, frontend-typecheck

docs: note CI tsc strictness vs local fe:build
  .claude/CLAUDE.md
Due: none
