Repository Spycner/Klassenzeit: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, checkstyle, biome-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: spotless-check
        name: Spotless Format Check
        entry: bash -c 'cd backend && ./gradlew spotlessCheck --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      - id: checkstyle
        name: Checkstyle
        entry: bash -c 'cd backend && ./gradlew checkstyleMain checkstyleTest --quiet'
        language: system
        files: \.java$
        pass_filenames: false

      # Frontend hooks
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd frontend && npx @biomejs/biome check --staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false

      - id: frontend-typecheck
        name: TypeScript type check
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

Update backlog, fix test commands in justfile and CLAUDE.md
  .claude/CLAUDE.md
  docs/superpowers/next-steps.md
  justfile
Due: none

Add autonomous workflow preference to CLAUDE.md
  .claude/CLAUDE.md
Due: none

Add merge-and-notify workflow preference to CLAUDE.md
  .claude/CLAUDE.md
Due: none

Add auth middleware design spec
  docs/superpowers/specs/2026-04-03-auth-middleware-design.md
Due: none

Add auth middleware implementation plan
  docs/superpowers/plans/2026-04-03-auth-middleware.md
Due: none

Add keycloak module skeleton and auth dependencies
  Cargo.lock
  backend/Cargo.toml
  backend/config/development.yaml
  backend/config/test.yaml
  backend/src/keycloak/claims.rs
  backend/src/keycloak/config.rs
  backend/src/keycloak/errors.rs
  backend/src/keycloak/extractors.rs
  backend/src/keycloak/initializer.rs
  backend/src/keycloak/jwks.rs
  backend/src/keycloak/middleware.rs
  backend/src/keycloak/mod.rs
  backend/src/lib.rs
Due: none

Add JWKS client with caching and refresh-on-miss
  backend/src/keycloak/jwks.rs
Due: none

Add JWT claims validation with unit tests
  backend/src/keycloak/claims.rs
  backend/tests/helpers/jwt.rs
  backend/tests/helpers/mod.rs
  backend/tests/keycloak/claims.rs
  backend/tests/keycloak/mod.rs
  backend/tests/mod.rs
Due: none

Add JWT validation middleware
  backend/src/keycloak/middleware.rs
Due: none

Add AuthUser and SchoolContext extractors
  backend/src/keycloak/extractors.rs
  backend/src/keycloak/mod.rs
  backend/src/models/school_memberships.rs
Due: none

Add Keycloak initializer, demo auth endpoints, wire up routes
  backend/src/app.rs
  backend/src/controllers/auth.rs
  backend/src/controllers/mod.rs
  backend/src/keycloak/initializer.rs
Due: none

Add auth middleware integration tests
  backend/src/keycloak/jwks.rs
  backend/tests/requests/auth.rs
  backend/tests/requests/mod.rs
Due: none

Update docs: mark Step 3 (auth middleware) complete
  .claude/CLAUDE.md
  docs/superpowers/next-steps.md
Due: none

Fix review issues: race condition in auto-create, proper error types
  backend/src/keycloak/errors.rs
  backend/src/keycloak/extractors.rs
Due: none

Add Keycloak JWT auth middleware (Step 3) (#16)
  .claude/CLAUDE.md
  Cargo.lock
  backend/Cargo.toml
  backend/config/development.yaml
  backend/config/test.yaml
  backend/src/app.rs
  backend/src/controllers/auth.rs
  backend/src/controllers/mod.rs
  backend/src/keycloak/claims.rs
  backend/src/keycloak/config.rs
  backend/src/keycloak/errors.rs
  backend/src/keycloak/extractors.rs
  backend/src/keycloak/initializer.rs
  backend/src/keycloak/jwks.rs
  backend/src/keycloak/middleware.rs
  backend/src/keycloak/mod.rs
  backend/src/lib.rs
  backend/src/models/school_memberships.rs
  backend/tests/helpers/jwt.rs
  backend/tests/helpers/mod.rs
  backend/tests/keycloak/claims.rs
  backend/tests/keycloak/mod.rs
  backend/tests/mod.rs
  backend/tests/requests/auth.rs
  backend/tests/requests/mod.rs
  docs/superpowers/next-steps.md
  docs/superpowers/plans/2026-04-03-auth-middleware.md
  docs/superpowers/specs/2026-04-03-auth-middleware-design.md
Due: none

Add frontend auth integration design spec (Step 4)
  docs/superpowers/specs/2026-04-03-frontend-auth-design.md
Due: none

Add frontend auth integration implementation plan (Step 4)
  docs/superpowers/plans/2026-04-03-frontend-auth.md
Due: none

Add keycloak-js, vitest, and testing-library to frontend
  frontend/bun.lock
  frontend/package.json
  frontend/vitest.config.mts
Due: biome-check

Add Keycloak instance factory and auth types
  frontend/src/lib/keycloak.ts
Due: biome-check, frontend-typecheck

Add KeycloakProvider with token refresh and error handling
  frontend/src/providers/keycloak-provider.tsx
Due: biome-check, frontend-typecheck

Add useAuth hook with tests
  frontend/src/__tests__/use-auth.test.tsx
  frontend/src/hooks/use-auth.ts
  frontend/src/test-utils.tsx
Due: biome-check, frontend-typecheck

Add apiClient with Bearer token and school context headers
  frontend/src/__tests__/api-client.test.ts
  frontend/src/lib/api-client.ts
Due: biome-check, frontend-typecheck

Wire up KeycloakProvider, dashboard page, and home redirect
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Due: biome-check, frontend-typecheck

Mark Step 4 (Frontend Auth) complete, unblock Step 5
  docs/superpowers/next-steps.md
Due: none

Remove --passWithNoTests flag from test script
  frontend/package.json
Due: biome-check

Add frontend Keycloak auth integration (Step 4) (#17)
  docs/superpowers/next-steps.md
  docs/superpowers/plans/2026-04-03-frontend-auth.md
  docs/superpowers/specs/2026-04-03-frontend-auth-design.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/__tests__/api-client.test.ts
  frontend/src/__tests__/use-auth.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/hooks/use-auth.ts
  frontend/src/lib/api-client.ts
  frontend/src/lib/keycloak.ts
  frontend/src/providers/keycloak-provider.tsx
  frontend/src/test-utils.tsx
  frontend/vitest.config.mts
Due: biome-check, frontend-typecheck

Track project status in docs/STATUS.md instead of CLAUDE.md
  .claude/CLAUDE.md
  .claude/settings.json
  docs/STATUS.md
Due: none

Add Step 5 design spec: first CRUD endpoints
  docs/superpowers/specs/2026-04-03-first-crud-endpoints-design.md
Due: none

Add Step 5 implementation plan: first CRUD endpoints
  docs/superpowers/plans/2026-04-03-first-crud-endpoints.md
Due: none

Add slug generation, model query helpers, and Forbidden error variant
  backend/src/keycloak/errors.rs
  backend/src/models/school_memberships.rs
  backend/src/models/schools.rs
  backend/tests/models/school_memberships.rs
  backend/tests/models/schools.rs
Due: none

Add schools CRUD controller with 4 endpoints
  backend/src/app.rs
  backend/src/controllers/mod.rs
  backend/src/controllers/schools.rs
  backend/tests/requests/mod.rs
  backend/tests/requests/schools.rs
Due: none

Add members CRUD controller with integration tests
  backend/src/app.rs
  backend/src/controllers/members.rs
  backend/src/controllers/mod.rs
  backend/tests/requests/members.rs
  backend/tests/requests/mod.rs
Due: none

Set up shadcn/ui with OKLch theme from website, Quicksand/Lora fonts
  frontend/bun.lock
  frontend/components.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-mobile.ts
  frontend/src/lib/utils.ts
Due: biome-check, frontend-typecheck

Add useApiClient hook, school context provider, and shared API types
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/hooks/use-api-client.ts
  frontend/src/hooks/use-school.ts
  frontend/src/lib/types.ts
  frontend/src/providers/school-provider.tsx
Due: biome-check, frontend-typecheck

Add schools list page with create school dialog
  frontend/src/app/schools/page.tsx
Due: biome-check, frontend-typecheck

Add school dashboard page with sidebar layout and edit dialog
  frontend/src/app/schools/[id]/layout.tsx
  frontend/src/app/schools/[id]/page.tsx
Due: biome-check, frontend-typecheck

Add members management page with add, role change, and remove
  frontend/src/app/schools/[id]/members/page.tsx
Due: biome-check, frontend-typecheck

Remove old dashboard, redirect to /schools
  frontend/src/app/dashboard/page.tsx
Due: biome-check, frontend-typecheck

Fix delete() crash on 204 responses, fix dark mode mono font
  frontend/src/app/globals.css
  frontend/src/lib/api-client.ts
Due: biome-check, frontend-typecheck
